[2012-10-31 13:57] brianium opened #1 "@group annotation support"

[2012-10-31 13:58] brianium opened #2 "default phpunit binary to composer loaded version"

[2012-10-31 13:59] brianium opened #3 "instant feedback output from phpunit runner"

[2012-10-31 14:00] brianium opened #4 "prevent warnings and errors related to xml files not being written under heavy load"

[2012-10-31 14:01] brianium opened #5 "Behat runner"

[2012-10-31 17:24] #1 closed, assigned to brianium

[2012-10-31 21:06] #3 closed, assigned to brianium

[2012-11-01 17:41] brianium opened #7 "Start message"
Thought it might be nice to have a start message like the cool kids:

[code]

[2012-11-01 20:41] #2 closed, assigned to brianium

[2012-11-01 22:11] #7 closed, assigned to brianium

[2012-11-08 22:04] brianium opened #8 "Possibly allow non PSR-0 loading when a single file is given."

[2012-11-08 22:04] brianium opened #9 "Possibly allow non PSR-0 loading when a single file is given."

[2012-11-08 22:04] #9 closed, assigned to nobody

[2012-11-15 00:39] djdevin opened #10 "xml output"
jlipps sent me here -

phpunit has JUnit XML output to be parsed by things like Jenkins. With paraunit, I hacked it so that each phpunit process would dump it's own XML to a folder that Jenkins would parse. It would be nice to standardize this a little bit to get it to be identical to the same XML returned by a plain phpunit run.

[2012-11-28 17:54] #10 closed, assigned to nobody

[2012-12-03 15:36] ebi opened #11 "Exit Code >0"
Paracode seems to always exit with 0 but should exit with a different code if tests failed (best would be to return whatever phpunit returned)

[2012-12-04 08:57] #11 closed, assigned to brianium

[2012-12-14 20:46] brianium opened #16 "PHPUnit runner should use phpunit.xml or phpunit.xml.dist"
the phpunit.xml or phpunit.xml.dist that bootstraps a test runner should work in paratest as well

[2012-12-18 12:37] #4 closed, assigned to brianium

[2013-01-10 15:14] brianium opened #17 "dependent tests"
I think there is an issue with parallel tests using @depends. These are likely being skipped when run individually. This could be fixed by adding the dependency to the filtered tests, essentially creating a pattern

[code]

This has likely been overlooked because the reporter doesn't show skipped tests
- [ ] get provider test from doc block and prepend to --filter
- [ ] add skipped test feedback t

[2013-01-18 19:05] #16 closed, assigned to nobody

[2013-01-18 19:11] brianium opened #18 "Parser should handle classes with underscores, with or without namespace"
The parser needs to load the older PSR-0 convention of converting _ to directory separator. The problem right now lies in assuming namespaces. in Parser.php

[code]

Basically if `$class` does not exist, walk up the path until a class is found. If not found by project root, then bail with an exception.

[2013-01-30 08:37] bayandin opened #19 "Incorrent xml output if I use the dataProvider in tests"
I think, this issue is continue #10.

If I use dataProvider in tests I get incorrent xml output (incorrect in the sence different from standart phpunit). The difference is that phpunit output has another `<testsuite>` tag and testsuite has a different attribute name. See example below.
- PHPUnit 3.7.13 from Composer,
- Paratest 0.4.1 or dev-master (545c4a7)

**Code example:**

[code]

`vendor/bin/

[2013-02-09 16:13] giorgiosironi opened #26 "Running unit tests"
Unit tests have the potential to run in parallel on multiple cores. [1]
However, there is some overhead:
- creating a process for each test is costly
- the bootstrap of the test is repeated every time
  So I'm experimenting on a proof of concept [2] where N workers are created at the start and they take new 'phpunit ...' commands to execute on their standard input. [3]
  How this may fit inside pa

[2013-02-20 14:35] Seldaek opened #27 "Failure to parse results"
I tried to run paratest on the composer test suite, and at some point it fails with:

[code]

I checked and indeed that file is just empty. I'm not sure how to debug it further to be honest.

[2013-02-20 14:39] Seldaek opened #28 "Automatically load the bootstrap file from phpunit?"
When running the composer test suite with paratest, you have to give it `--bootstrap=tests/bootstrap.php` or it fails to load some abstract test classes properly, and results in this:

[code]

As you can see in the [AutoloadGeneratorTest](https://github.com/composer/composer/blob/master/tests/Composer/Test/Autoload/AutoloadGeneratorTest.php) class extends the [TestCase](https://github.com/composer

[2013-02-20 14:41] #5 closed, assigned to brianium

[2013-02-20 15:47] #27 closed, assigned to nobody

[2013-03-20 22:19] adam-lynch opened #33 "Test.php suffix convention"
All tests filenames must end with `Test.php` (as is [enforced in the SuiteLoader](https://github.com/brianium/paratest/blob/master/src/ParaTest/Runners/PHPUnit/SuiteLoader.php#L10)).

I could be wrong, but should this always be done? Should it be done only if a `.xml.dist` file isn't given?

[2013-04-12 07:36] tarjei opened #36 "PHP Fatal error: Cannot redeclare class when trying to test a Symfony2 application."
Hi, I get this error when I try to run paratest on a largish Symfony2 application.

I've tried various combinations of paratest options but they all yield the same error.

Any ideas why this happens?

bin/phpunit --version
PHPUnit 3.7.15 by Sebastian Bergmann.

bin/paratest --version
ParaTest version 0.4.4

Symfony version is 2.2.1.

PHP Fatal error:  Cannot redeclare class Fpg\BackgroundBundle\Te

[2013-04-12 12:53] #36 closed, assigned to nobody

[2013-05-05 12:57] brianium opened #37 "Version numbers"
It is really great to see things being merged in. Up to this point, the version numbers have been following something along the lines of "major.minor.patch" i.e 0.4.4. Any suggestions for managing these numbers in the future? If we stick with this method, it might be nice to update at least the minor version to account for the latest additions.

This also brings up the question: do we have a versi

[2013-05-15 12:46] #37 closed, assigned to nobody

[2013-05-17 16:16] #28 closed, assigned to nobody

[2013-05-24 18:39] #18 closed, assigned to nobody

[2013-05-24 18:41] #8 closed, assigned to nobody

[2013-05-31 02:32] brianium opened #41 "Environment variables in Windows"
Testing in Windows, some of these new features that rely on environment variables do not behave as expected. The last tagged version of 0.4.4 is the last version to support Windows.

[2013-06-04 11:06] ChubV opened #42 "Add placeholders support for path"
Assume we have a standart Symfony2 phpunit.xml.dist. There are pathes like

[code]

As far as i understand it is not supported by SuiteLoader for now.
It is easy ta add such a support by adding symfony/finder to composer.json and using it in `loadPath`.
I can do the PR if any.

[2013-06-07 13:58] isimmons opened #44 "Laravel: RuntimeException: Unable to generate random string"
Not sure of the specific details how this works but basically Laravel needs to create an instance of app to allow for full testing which at a point creates a session which needs to create a random number using Illuminate\Support\Str.php

[code]

Here is the test.

[code]

I removed all other tests including the exampleTest.php shipped with Laravel. Changing  to extend PHPUnit_Framework_TestCase di

[2013-06-07 18:22] brianium opened #45 "PHP_Timer should not be called statically"
calling PHP_Timer methods statically is causing issues in strict mode. This should be updated to actually instantiate an instance of the timer in `ResultPrinter`

[2013-06-15 17:18] #41 closed, assigned to nobody

[2013-06-15 17:32] brianium opened #47 "Roadmap, moving forward."
@ChubV - who contributed to some work on feature/windows-compat - brought up a good question. Do we have a certain road map for this project? Can we leverage the wiki or milestones in a similar fashion to the bootstrap project to have some plans for this?

https://github.com/twitter/bootstrap/wiki/Roadmap
https://github.com/twitter/bootstrap/issues/milestones?state=open

Do we have a 1.0.0 goal? D

[2013-06-15 18:34] brianium opened #48 "Tag new version"
I think we are at a point where we can tag a new version. There have been some solid additions since the last tagged version. The change log goes back to [April 7](https://github.com/brianium/paratest/commits/master?page=2).

I am thinking it would be beneficial to start including a change log. I'll take a run at making it, and maybe someone can review it? The biggest change is the addition of the

[2013-06-17 15:13] #45 closed, assigned to nobody

[2013-06-18 16:00] #44 closed, assigned to nobody

[2013-06-26 05:44] zerkms opened #51 "Different number of tests and assertions with and without -f"
That's what happens on just checked out 1aa8a8eb4e39caed334837e0b3ae959d34b33ed1 revision:

[code]

After specifying `--log-junit` I've found that in my case these tests are called twice:
- `GroupTest::testGroupSwitchOnlyExecutesThoseGroupsInFunctionalMode`
- `GroupTest::testGroupSwitchOnlyExecutesThoseGroupsWhereTestHasMultipleGroups`
- `OutputTest::testInstantFeedbackIsDisplayedWhenAndFunctional

[2013-06-26 23:12] zerkms opened #53 "Wrong number of tests and assertions in a functional mode"
If we run tests using `phpunit` or `paratest` - the results are expected:

[code]

If we run `paratest -f` - it doesn't match to expectations:

[code]

Seems like all the tests that have `@depends` are skipped. And actually that should be logged.

[2013-07-01 22:40] dbaltas opened #54 "WrapperRunner randomly throwing a Fatal Error"
The error below happened on [this travis build](https://travis-ci.org/brianium/paratest/jobs/8633277)

[code]

It also happens on my dev (on around 70% of the runs) machine when running

[code]

[2013-07-15 09:18] liuggio opened #56 "Problem with wildcard on testsuites"
In our SF2 project we have the phpunit.xml with wildcard

[code]

the error I have is
`Suite Path ../src/*Bundle/Tests  could not be found`

How do you solve this? Am I missing something?

Thanks to all.

[2013-07-15 09:39] #56 closed, assigned to nobody

[2013-07-15 22:45] polamayster opened #57 "coverage-html issue"
Have following phpunit.xml:

[code]

with directory structure proposed in http://net.tutsplus.com/tutorials/php/parallel-testing-for-phpunit-with-paratest/

I changed some test to take longer time (bigger sleep) and instead of general code coverage I see only coverage for longest running test after all.

Running these tests with phpunit gives expected result with 100% code coverage for each test a

[2013-07-19 12:15] gnutix opened #58 "Percentage going over 100."
Small issue I've noticed in the output for paratests : the percentage is often over 100.
Exemple:

[code]

As you can see here, the percentage shown is 118%. Any idea how this can happen?
Could it be because of skipped / incomplete / @depend tests ?

[2013-07-21 22:26] #17 closed, assigned to nobody

[2013-07-21 22:26] #53 closed, assigned to nobody

[2013-07-21 23:42] #26 closed, assigned to nobody

[2013-07-21 23:45] #54 closed, assigned to nobody

[2013-07-23 13:53] gnutix opened #59 "[Exception] String could not be parsed as XML"
My coworkers are having this error everytime they run paratest. If they use phpunit, it works fine. On my computer it works fine anyway.

`[Exception] String could not be parsed as XML`

Any idea why ?

[2013-07-24 00:12] dbaltas opened #60 "Incomplete/Skipped Tests are ignored"
Incomplete/Skipped tests are not accounted for.
For example if you have 450 regular tests and 50 incomplete or skipped for a total of 500, you are expected to see the progress bar going 63/500, 126/500, where the 126 are the regular ones only.
So the progress bar will stop before 100% at 450 and in the end you will see
OK (450 tests, X assertions)

[2013-07-24 09:31] drscre opened #61 "Paratest ignores multiple <directory> definitions in <testsuite>"
When i define a test suite that has several `<directory>` entries, Paratest takes only the first one and ignores the others:

With a definition like this

[code]

only `/src/Tests1/` directory will be scanned.

[2013-08-13 09:53] #51 closed, assigned to nobody

[2013-09-10 22:32] jlipps opened #63 "Issues with functional tests"
I'm getting this a lot when I run Selenium tests in parallel:

[code]

[2013-09-23 19:39] #63 closed, assigned to nobody

[2013-10-28 18:40] JoelMarcey opened #66 "Debug mode and continuing on crash"
Hi, two questions about paratest:

**\* 1. Is there a way to run phpunit in --debug mode with paratest, so that I can see the name of each individual test running as paratest is executing? I tried:

paratest --phpunit "phpunit --debug"

but that continues to run the tests like the --debug switch was never specified.

**\* 2. Is there an option to have paratest continue running even after a phpunit

[2013-11-25 09:33] gnutix opened #67 "Symfony 2.4 support"
As symfony 2.4 will be soon releasing it's first RC, it would be nice to allow developers to use paratest with it.

This would mean updating composer.json process and console dependencies to something broader.

What do you think?

[2013-11-29 09:50] Nikoms opened #68 "paratest doesn't take the globals in phpunit.xml?"
Hello,

For my unit tests, i need to have a specific "HTTP_HOST", so I put this in my phpunit.xml:

<php>
        <server name="HTTP_HOST" value="mywebsite.com" />
</php>

I use "$_SERVER['HTTP_HOST']" in my bootstrap.php (declared in the phpunit.xml).

It works with phpunit, but when I run it with paratest, this variable is not set.

Is this a bug or did i make something wrong?

Thank you.

[2013-12-05 15:44] #67 closed, assigned to nobody

[2013-12-06 07:49] #59 closed, assigned to nobody

[2013-12-07 18:17] #57 closed, assigned to nobody

[2013-12-08 10:43] aik099 opened #71 "Not working locally"
My test suite runs 48 seconds locally. When executed locally with paratest it takes it 49 seconds to complete. However when executed on Travis it's executed 8 seconds.

Is there a way to detect why it's not working locally?

Also I've tried to run paratest tests locally and they're hanging in the middle of the process.

[2013-12-08 21:35] aik099 opened #72 "Support for `logging` section in `phpunit.xml`"
I know, that according to docs the `logging` section (see http://phpunit.de/manual/3.7/en/appendixes.configuration.html) of `phpunit.xml` file isn't supported.

Example:

[code]

It would be great if at least coverage-related logging would be supported as well to compliment `--coverage-html`, `--coverage-clover` and `--coverage-php` command-line options.

[2014-02-05 08:30] oker1 opened #75 "stderr buffer can be filled and execution gets blocked"
I've been debugging a weird test stall issue. It involves a phpunit bootstrap running liquibase migrations. Liquibase outputs a lot of information to stderr, so I patched Worker to use `"exec $wrapperBinary 2>&1 | tee worker-$token.log"` to debug whats happening between the processes, and it fixed the issue. Then I looked at the code and saw the stderr is only read if there's an error. Seems like

[2014-03-06 17:25] khards opened #77 "Functional testing concurrency blocked"
Hi there,

I have been trying to get paratest working with our phpunit and selenium test suite and have hit a problem.
When I run paratest, the selenium - Chrome window opens and one test starts executing, paratest is then blocked until that test finishes and the browser window closes. The next test then starts.
Another issue I encountered was that when --filter was being passed to pup unit it was

[2014-03-13 23:37] tejuprasad opened #80 "Need support for explicit test specification with <file> in phpunit configuration file"
I should be able to run multiple test suites where the order of tests is explicit as specified in
http://phpunit.de/manual/current/en/organizing-tests.html#organizing-tests.xml-configuration

[2014-03-17 13:47] brianium opened #81 "Native implementation?"
ParaTest has definitely solved some issues for me - particularly in the functional testing realm, and I am glad to see it has done the same for a bunch of other people.

I think it is becoming too cumbersome to rely on PHPUnit as a hard dependency. The benefit of this approach is you can run existing PHPUnit suites concurrently, but PHPUnit can introduce a breaking change - and I don't think it is

[2014-03-21 20:14] liquidice opened #82 "Bug when using Multiple @group attributes"
I've encountered an issue that I've narrowed down to using multiple @group tags per test method with Paratest. The same tests run successfully with phpunit.

I installed Paratest by cloning the repository, and then doing a php composer.phar install. A "composer.phar upgrade" yields the same result.

The directory structure is basically:
test_case/ (The commands are ran from this directory.)
  test

[2014-03-22 12:59] aik099 opened #83 "Paratest own tests failing on PHPUnit 4.0.12"
I've tried to run `paratest` own tests and the're failing:

[code]

Maybe related to problem discovered in #79

[2014-04-01 07:54] #83 closed, assigned to nobody

[2014-04-06 09:19] #61 closed, assigned to nobody

[2014-04-06 10:10] #42 closed, assigned to nobody

[2014-04-07 14:22] ghost opened #86 "Test concurrency"
Is there a way to test concurrency with paratest?

For example a scenario something like this:

[code]

For testing concurrency a parallel test runner is needed... But if I am right paratest calls the test files only in parallel, not the code... Is it possible to build something upon paratest which can run code parallel?

[2014-04-07 15:20] #86 closed, assigned to nobody

[2014-04-17 10:16] ndeztea opened #87 "paratest and phpunit.xml configuration"
Hi There,

I have an issue which I want test my automation with paratest, but how can I test my all cases in one command? because if I do like this :

saucelab/vendor/bin/paratest  -f

my terminal always show :

  [RuntimeException]
  No path or configuration provided (tests must end with Test.php)

Hard for me if I cannot use phpunit.xml because all my configuration stored there.

same question p

[2014-04-17 17:25] aik099 opened #88 "Tag current code to indicate PHPUnit 4.x compatibility"
Tag current code to indicate PHPUnit 4.x compatibility. I guess it will be 0.7.0 version.

[2014-04-17 21:41] #48 closed, assigned to nobody

[2014-04-18 08:35] #88 closed, assigned to nobody

[2014-04-24 16:14] aik099 opened #89 "Coverage collection broken in 0.7.0 release"
Something changed drastically related to test coverage collection from parallelly executing tests in the 0.7.0 compared to 0.6.1 versions.

See the comparison: https://gist.github.com/aik099/11260287

I don't know what exactly was changed, but that resulted in 50% coverage loss without actual code change.

Travis builds:
- when paratest 0.7.0 + phpunit 4 used: https://travis-ci.org/aik099/qa-tools

[2014-04-29 12:34] julianseeger opened #91 "Instable travis build"
There is some issue with the wrapperRunner and travis.
Often, the first build fails because of this error and like always, the rerun of the build passes.

I've no idea yet, what makes simple tests like testTruth etc. fail. Help is appreciated here ;)

[code]

[2014-04-29 15:53] julianseeger opened #92 "Instable test"
the ResultPrinterTest::testGetHeader cannot handle tests that take exactly one minute:

[code]

[2014-04-29 15:55] julianseeger opened #93 "xml assertions break tests"
https://travis-ci.org/brianium/paratest/jobs/23240511

Like @jwoschitz stated in #90, this commit https://github.com/sebastianbergmann/phpunit/commit/7dadedf6c770feb18c0e17d895e698d57a6fb9bb breaks our tests currently.

[code]

Edit: maybe a bug in phpunit, has to be checked...

[2014-04-30 14:57] #93 closed, assigned to nobody

[2014-04-30 16:36] #89 closed, assigned to nobody

[2014-05-01 15:01] mauryfs opened #94 "Support for writing more accurate test suite names to JUnit XML log"
I am using the Setup Decorator Pattern as described here http://css.dzone.com/books/practical-php-testing/practical-php-testing-patterns-25 to inject the selenium browser capability into the test suite.

For example (note the explicit setting of the suite names):

[code]

When running the FirefoxSuiteTest and ChromeSuiteTest using PHPUnit and JUnit logging it generates following xml with the expec

[2014-05-14 19:08] michael-donat opened #95 "Support for @dataProvider (parallel dataset execution)"
Not sure how possible that would be, but the lack of dataProvider support is really a pain for me.

I'm using paratest to run my 3rd parties integration suite, one of the most important tests it to see whether I can create multitude of bank accounts (depending on country these have different format, and the provider configuration is dynamic per country, so need to keep an eye on it). I'm using dat

[2014-05-20 10:20] aik099 opened #97 "Create 0.7.1 release to indicate PHPUnit coverage collection fix"
Please create 0.7.1 release to indicate PHPUnit coverage collection fix, that causing `}` of methods to be reported as uncovered.

[2014-05-20 10:56] #97 closed, assigned to nobody

[2014-06-13 08:15] danez opened #98 "Displaying of error-result fails"
I'm not sure what exactly is causing this error, but for our tests we get this notices when paratest tries to display the error-footer.

```Notice: Undefined offset: 0 in vendor/brianium/paratest/src/ParaTest/Logging/MetaProvider.php on line 54```

The output is as follows:
[code]

the phpunit.xml looks like this:

[code]

[2014-07-19 09:51] Thinkscape opened #100 "Could not read "phpunit.xml""
Paratest refuses to see my phpunit.xml file and then refuses to read it when I use `-c` param. Tried 0.7.1 and dev-master.

`tests/phpunit.xml` file:

[code]

Reproduce:

[code]

[2014-07-24 07:11] #100 closed, assigned to nobody

[2014-08-08 12:26] ngraf opened #101 "SuiteLoader: make $relaxPattern for directories configurable?"
I work at a company where for historical reasons all tests have the pattern "Test*.php".
I have no problem executing tests with "phpunit". But "paratest" is , in my opinion, too strict. I can't use it!
    "No path or configuration provided (tests must end with Test.php)"
That's why i would like to have a way to at least configure the use of `$relaxPattern` in `ParaTest\Runners\PHPUnit\SuiteLoader

[2014-08-30 01:42] totten opened #102 "Batching of test-suites"
(Context: I'm working with a couple DB-intensive test-suites which take ~1 hr to execute with normal phpunit. When running in parallel, each test process has access to its own pair of MySQL DBs using TEST_TOKEN.)

Executing tests in parallel adds some overhead -- e.g. each test-execution spawns a new instance of php-cli+phpunit; each test must load/parse all source code; each test must setup DB co

[2014-09-03 14:17] jvanbouchaute opened #103 "ENV variables not passed to phpunit tests using standard runner (linux)"
We use Jenkins to set a number of ENV variables to convey configuration into our (Selenium) PHPunit testcases.

We use paratest (0.7.2) to parallelize our testcases.

For some strange reason, we don't get our ENV variables in our testcase when using the default Paratest runner. It causes our Selenium PHPUnit testcases to fail since we miss config.

However, when using --runner WrapperRunner , the

[2014-09-06 11:29] lox opened #104 "Notices at end of test run"
I get this at the end of every test run, on paratest HEAD.

[code]

[2014-10-10 01:51] lox opened #106 "Tests depend on code coverage driver being installed"
Without xdebug installed I get the following errors on a test run:

[code]

Seems like the correct approach would be to skip those tests?

[2014-10-10 01:52] lox opened #107 "Risky tests reported in paratest test suite with PHPUnit"
For the unit tests I get the following tests reported as risky:

[code]

[2014-10-11 00:59] lox opened #109 "PHPUnit warnings not caught by paratest"
Due to an upstream bug https://github.com/sebastianbergmann/phpunit/issues/1317 warnings that are generated by PHPUnit, such as those for private/protected test methods or missing data providers, aren't marked as failures in the junit xml output. The issue is that phpunit exits with 1, so is caught as a failure by paratest.

The effect is that the paratest suite appears to pass, but returns a fail

[2014-10-11 10:51] #106 closed, assigned to nobody

[2014-10-12 23:10] #91 closed, assigned to nobody

[2014-10-12 23:10] #107 closed, assigned to nobody

[2014-10-16 11:33] rusitschka opened #115 "WrapperRunner doesn't support --coverage-* options"
WrapperRunner is much faster for us - however it's doesn't generate any coverage reports. It's not supported, right?

[2014-10-17 13:25] #109 closed, assigned to nobody

[2014-10-17 14:24] #33 closed, assigned to brianium

[2014-10-17 14:30] #101 closed, assigned to nobody

[2014-10-17 14:32] #87 closed, assigned to nobody

[2014-10-17 14:46] #92 closed, assigned to nobody

[2014-10-23 20:42] julianseeger opened #119 "Coding Standard & HHVM"
A question for every active person around here, especially @lox  and @aik099 :
I would like to define a coding standard for this project and connect it to a tool like [scrutinizer](https://scrutinizer-ci.com/) to automatically check it (and autofix most issues). The reason for a coding standard should be obvious and I prefer PSR2 as I'm used to it but I am of course open to suggestions. The toolin

[2014-10-23 22:10] #115 closed, assigned to nobody

[2014-10-24 10:34] #47 closed, assigned to nobody

[2014-10-30 14:56] brianium opened #120 "add scrutinizer-ci support"
Integrate ParaTest with [scrutinizer-ci](https://scrutinizer-ci.com/)

[2014-11-04 19:48] korotovsky opened #122 "--stop-on-failure option has no effect"
[code]

[2014-11-10 20:50] #122 closed, assigned to nobody

[2014-11-12 07:03] lox opened #125 "Hard to diagnose failures with simply 'Exception'"
We periodically have tests fail in our CI environment that show simply "Exception" at the end, despite `display_errors` enabled.

![Image of test run](https://photos-5.dropbox.com/t/1/AADEeiZSximCFndqEmxwIhRYOebnANcuQRIEkxEqUFPCBQ/12/632579/png/1024x768/3/1415782800/0/2/Screenshot%202014-11-12%2018.01.44.png/7hzXrDE9RMHTbCA12KRm2CNjP7ayHgNJxzDcW_ATVzg)

Any suggestions?

[2014-11-15 18:28] julianseeger opened #126 "Flaky HHVM+PHPUnit4 tests"
The current build is flaky. On travis, we get reproducible failures with
[code]
re-runs succeed sometimes but we need a stable build.

[2014-11-15 18:34] #120 closed, assigned to nobody

[2014-11-15 18:45] #102 closed, assigned to nobody

[2014-12-30 19:15] julianseeger opened #131 "New code style violations should fail the build"
This has been extracted from the discussion of #130
To make it clear that a PR is rejected as long as it introduces new code style violations, new issues in scrutinizer shoud fail the build.

@aik099:
should be as simple as

[code]

if we just want every new issue to cause a failure, shouldn't it?

[2014-12-30 20:19] #131 closed, assigned to julianseeger

[2014-12-31 01:28] #104 closed, assigned to nobody

[2015-01-02 22:49] julianseeger commented on #58
I would like to propose a fix for this issue at https://github.com/brianium/paratest/tree/percentage-fix
With the fix, every ExecutableTest knows the expected count of testmethods to be contained in the result. If the real results contain more tests than expected, the total count of tests is increased accordingly.
The phenomenon you can observe is that the total test count increases while running

[2015-01-03 09:46] aik099 commented on #58
In any case having <100% is better (except for shop discount :smile: ) then we have currently.

[2015-01-03 17:15] julianseeger commented on #126
![nailed-it](https://cloud.githubusercontent.com/assets/3258762/5603109/3a3f19ca-9374-11e4-9111-53af99f7a283.png)

There was a general issue with the wrapper-runner that caused him to think a worker has crashed when the worker executed a failing test (when phpunit exited with a non-zero exitcode).

[2015-01-03 17:22] #126 closed

[2015-01-03 19:38] julianseeger commented on #119
Added external code coverage integration to scrutinizer.
So now we have coverage available but I'm going to leave this open until @brianium has time to integrate coveralls.io

[2015-01-05 22:08] brianium commented on #58
This is definitely an improvement. I don't think I am a fan of the idea of executing dataProviders in advance, for pretty much the same reasons @julianseeger mentioned above.

I wonder if we need perfect parity with PHPUnit here on text output? It seems reasonable to not have a total count available for concurrent tests. Would the usefulness of ParaTest be hurt if we removed the right side of the

[2015-01-05 23:17] julianseeger commented on #58
The total count probably doesn't matter but the percentage seems to be of interest as a measure of progress. In #129 , @grongor even mentioned that he would prefer his own fork (that counts all dataProvider executions of a testmethod as one single test) over the paratest origin. The result is exactly this: correct/usable percentage but completely incorrect total count.

So we could make a tradeoff

[2015-01-06 01:31] brianium commented on #58
I think that is totally acceptable. I certainly don't want to step on any toes if the majority of people using this prefer the `0/0` format - even if the numbers are incorrect.

[2015-01-11 01:55] padraic opened #139 "ReflectionClass not found exception"
Doing a trial run on a few things, here's an example for monolog (switched to phpunit 4.4). I tried both latest version and then dev-master.

[code]

I manually added back the --verbose argument to get a full trace. Would be really helpful if that were added as a standard option to make debugging easier.

[2015-01-11 11:08] julianseeger commented on #139
The problem is this file: https://github.com/Seldaek/monolog/blob/61145103b6521d04c0386d1ea6899437df9d45e2/tests/Monolog/Functional/Handler/FirePHPHandlerTest.php

It doesn't even contain a class. So the solution here would be to act like phpunit and ignore this file. But I'm wondering what this file is actually made for. I can't find any references to it so this file itself is a mistake, isn't it

[2015-01-11 23:35] padraic commented on #139
Going by the naming, it's pushing to browser listeners - Jordi likely has a browser open for when it runs.

[2015-01-14 21:14] #139 closed

[2015-01-21 12:43] chbiel commented on #125
I experience the same problem:

![image](https://cloud.githubusercontent.com/assets/1297702/5836262/713602e2-a173-11e4-916f-e6942595180f.png)

[2015-01-21 12:52] chbiel opened #142 "Support for --testsuite phpunit parameter"
It would be nice to specify the --testsuite parameter and execute the tests in the testsuite in parallel.

E.g.
[code]

I also have other suites so I only what to execute that one:
paratest --testsuite=MySuite --processes=2

Would be very nice :)

[2015-01-28 21:34] #98 closed

[2015-01-28 22:29] #58 closed

[2015-01-29 12:34] chbiel commented on #142
added pull request to add this feature:
https://github.com/brianium/paratest/pull/144

[2015-01-31 20:44] #142 closed

[2015-01-31 23:10] julianseeger commented on #81
As peridot is growing and paratest can increase it's focus on phpunit, I think we can close this now.

[2015-01-31 23:10] #81 closed

[2015-01-31 23:15] julianseeger commented on #71
I'm going to close this now because it has become old.
For future reference: there is a section in our readme for "optimizing speed": https://github.com/brianium/paratest#optimizing-speed
That should cover the most important things.

[2015-01-31 23:15] #71 closed

[2015-01-31 23:29] julianseeger commented on #125
If you have this issue on some open source projects, it would be nice if you could share a link to maybe reproduce the issue. I don't see any Exceptions paratest throws without a message (except for a NoClassInFileException, that makes no sense to happen periodically).

[2015-02-02 10:58] chbiel opened #145 "Refactor WrapperRunner and Worker to use symfony/process"
The WrapperRunner und Worker currently does not work on Windows because the Worker is not OS independent.

This may could be solved by using symfony/process for process handling

Target: Refactor the WrapperRunner depending classes

[2015-02-02 11:27] brianium commented on #145
@chbiel thanks for opening the issue and your recent pull request! It would be great if the WrapperRunner could work on Windows too, but the WrapperRunner is so effective because of it's use of   the [stream_select](http://php.net/manual/en/function.stream-select.php) function. This function allows the wrapper runner to get changes on each worker as they become available.

However, Windows handles

[2015-02-02 12:04] chbiel commented on #145
@brianium I will have a look on it myself and update/close the issue when I have more information if this can work.
my problem is with the normal Runner, that the general bootstrapping is done for each test-class, what is ineffective when you have big bootstraplogic

[2015-02-02 20:03] chbiel commented on #145
@brianium ok you are right. It's a windows problem as described here: https://msdn.microsoft.com/en-us/library/windows/desktop/aa365141(v=vs.85).aspx

I will close the ticket at first.
but I need this feature so I will try out some other ideas and will create a pull request if I found a solution.

[2015-02-02 20:03] #145 closed

[2015-02-02 20:45] julianseeger commented on #80
As I mentioned in https://github.com/brianium/paratest/pull/144 , I don't think that it makes sense to have explicit orders for tests when you want to run them in parallel. In fact, it could harm if someone wants to compose a testsuite out of specific files, uses paratest to run them in parallel and then recognizes that they run in sequence.
Any other opinions ? maybe @brianium ?

[2015-02-02 20:50] brianium commented on #80
Yeah, I think if your tests need to run in order, then they cannot be run concurrently. I am guessing the order matters due to dependencies between the tests?

This would indicate a testing scenario that is simply not a good candidate for concurrent execution. PHPUnit by itself would make more sense in this scenario. @tejuprasad if you have any suggestions for how this could work, pull requests ar

[2015-02-02 20:50] #80 closed

[2015-02-02 20:59] tejuprasad commented on #80
Thanks for the response! I did exactly what you suggested and used PHPUnit to run test suites, kicking off multiple processes in parallel.

[2015-02-04 11:41] jameshd opened #146 "Using @group throws exception"
Whenever we use the @group annotation we encounter the following exception

[code]

Having traced the code in ParaTest we've found where the exception is being thrown and that the Reader->hasResults() method is returning false, thus causing the exception.

However, should this code even be being executed as the test in the Exception does not contain the requested @group annotation?

With the follo

[2015-02-04 22:41] julianseeger commented on #146
Maybe you've hit a bug.

The codeblock that throws this exception is relatively new and the [integration test for the group-filter](https://github.com/brianium/paratest/blob/948105b7e98d1ce14f56139284d369f8237dce13/test/functional/GroupTest.php) seems to not cover this scenario where a whole file has no matching group attribute.
This can be confirmed easily by extending the fixture for the [GroupT

[2015-02-05 22:49] julianseeger opened #149 "Refactor PHPUnit::getRunnerOptions()"
Currently, PHPUnit::getRunnerOptions() has a "D" rating in scrutinizer.
Mainly because of its complexity (npath: 180).

Should be easy to refactor this method to increase readability and reduce it's complexity.

[2015-02-07 12:13] #149 closed

[2015-02-12 15:59] chbiel opened #153 "Add support for direct output (including Incomplete/Skipped)"
currently the ResultPrinter only gives feedback when a whole testclass is done.
when you have testclass with 100 of tests, this can take a long time and you don't know if something is happening.

to solve this, we could use the $callback parameter of Process::start method from symfony/process.
this callback takes every output from the underlying test execution and can do whatevery you want with it

[2015-02-12 17:35] julianseeger commented on #153
when you have testclass with 100 of tests, this can take a long time and you don't know if something is happening.

Is this true when using the ```-f``` parameter? And du you run paratest without ```-f``` ? When you always use -f, you should get instant feedback per method and it fit's the usecase when it "can take a long time". But if the implementation is reliable, the fast feedback option doesn

[2015-02-13 04:37] sormy commented on #95
Here is implementation: https://github.com/brianium/paratest/pull/154

[2015-02-13 19:51] julianseeger opened #155 "Allow predictable tokens again"
see https://github.com/brianium/paratest/commit/ec7216b9cdbefa0d6c358913152d33117f01c23e#commitcomment-9739943

[2015-02-15 23:31] #155 closed

[2015-02-16 09:14] chbiel commented on #153
The -f option is not an option for us because we have many legency tests that have stupid dependencies -.-

I'm not sure if this is possible. Have to be tested. E, F, S, I can be seperated through --colors flag from test output. I am not sure If "." has also a color attached.
This could be established (when not possible with --colors), with a intelegient parser that looks at the previous and follo

[2015-02-16 21:27] julianseeger commented on #153
Just like tests should be independent etc. ^^
But as long as omitting the `--fast-feedback` flag means junit parsing and thus, junit stays the default, this is a nice and backwards compatible enhancement. Looking forward to that patch.

[2015-02-18 08:42] PieterDC commented on #19
I can confirm this bug still exists with version 0.12.0 of paratest.

[2015-02-25 10:37] tomaszdurka opened #158 "Generic exceptions do not hint"
It's my first day with paratest and I already cannot really get it working with one of my projects.

All I get after running paratest is:
[code]
This is very generic error and doesn't tell anything about actual problem. There is no hint regarding why it crashes at all. To understand what is actually wrong you need to go into the code and/or debug.

I still am not sure what is actually wrong with t

[2015-02-25 11:24] tomaszdurka commented on #158
I've debugged a little bit and seems that runner starts 5 testcases, but none of them is actually creating junit log even though log-junit parameter is specified correctly for command.

It's starting tests with following commands:
[code]

Then finishes:
[code]

And throws that there is no log file (as I understand the exception message correctly...). Which in fact is not there!
On the other hand i

[2015-02-25 11:32] brianium commented on #158
@tomaszdurka it is fairly uncommon for a log file to not be created. As you can see we just pass that responsibility off to PHPUnit - and PHPUnit is pretty reliable.

It is hard to say for sure without seeing your tests, but is it possible that one of your tests does anything to clean out the temp directory provided by `sys_get_temp_dir()`? Can you try running your tests in smaller batches to see

[2015-02-25 12:12] tomaszdurka commented on #158
I've actually digged into the problem a bit more.

#### Why this happens, edge case drama

Problem I had was due to exceptions thrown within bootstrap script plus having global exception handler (not the best solution we have for *historical reasons*).

**Exception handler:** My exception handler is printing exception and dieing(1).
**Random exceptions in bootstrap** While testing boostrap randoml

[2015-02-25 12:14] tomaszdurka commented on #158
I've actually noticed the same kind of exception (tmp file message) is thrown when there is no phpunit in the path and you need to specify custom one with `--phpunit` option.

This prints:
[code]

It's very generic. Maybe simply add stderr of the test if this happens?
[code]

[2015-02-27 13:02] cbergau opened #159 "paratest is not working anymore (configuration not found)"
Hey guys, i've been using paratest for a while, and i upgraded the version from whatever to dev-master.

https://github.com/cbergau/php-webdriver-examples

Those tests ran fine all the time, now since i upgraded it does not. I get an error message saying:

[code]

When i run

[code]

[2015-02-27 13:49] cbergau commented on #159
This error is only on dev-master, tag v0.7.0 works fine.

[2015-03-17 06:41] tuanmh commented on #95
In our project, we're using a lot of dataProvider annotation to generate test data and this feature in paratest absolutely receives our vote. We really really need this feature.

[2015-03-17 14:30] sormy commented on #95
tuanmh, could you please my experimental branch (pull request #154) and give your feedback

[2015-03-17 19:08] justechn opened #160 "paratest reports incorrect coverage data"
I am having a problem with the code coverage reports that are produced by paratest. When I run my test directly in phpunit i get 100% coverage. When I run the test in paratest I get 82%.

phpunit
![phpunit](https://cloud.githubusercontent.com/assets/1508662/6695351/3f61761c-cca6-11e4-91f2-18c40d2206ee.PNG)

paratest
![paratest](https://cloud.githubusercontent.com/assets/1508662/6695354/413c358a-cc

[2015-03-29 16:10] #119 closed

[2015-03-29 16:20] julianseeger opened #161 "remove PHP 5.3 from build matrix?"
We still keep up the 5.3 compatibility as it is part of the travis build matrix. Is this still neccessary when php 5.3 is [not officially supported anymore](http://php.net/archive/2014.php#id2014-08-14-1)?

According to [this blog](http://blog.pascal-martin.fr/post/php-versions-stats-2014-10-en.html) from october 2014, PHP5.3 is still used by about 44% of all (observed) webservers. Would it be
a)

[2015-04-16 07:00] aik099 commented on #160
This sounds like #89. I have the same problem with latest PHPUnit version. The opening/closing braces of class/method are reported as non-covered by paratest, while PHPUnit own coverage report doesn't mention lines with them at all.

Maybe coverage merger assumes that all lines are not covered from the start, but that's not true. Maybe the xdebug stopped to report braces in it's report and PHPUnit

[2015-04-17 12:45] gitnik commented on #19
Also experiencing this

[2015-05-12 20:48] gabrielpreston commented on #146
I run into the same issue when I tried upgrading from phpunit 3.7 to 4.0. It seems that starting with v4, the log file is written differently. In 3.7, the log file included information about the test and said there were zero tests run, whereas in 4.0, the log file terminates with <testsuites/> and includes no more information.

[2015-05-12 21:53] gabrielpreston commented on #146
This is how the junit log file looks now when using phpunit 4 and you pass a @group that doesn't match a test that gets passed from paratest to phpunit.
[code]

[2015-05-13 13:16] fiddur commented on #146
I have the same issue with --exclude-group

[2015-05-13 13:29] fiddur commented on #161
Normally I would say drop support of too old versions.  We still use it here, but dropped support from external libs would force us to upgrade, and that would be good :)

[2015-05-17 09:10] matteomoretti commented on #146
Running paratest from dev-master with phpunit 4.6.6 the bug exists. It disappears if you comment out
[code]

[2015-05-21 16:49] aik099 opened #162 "Doesn't work with PHP7"
Here is failed build using PHP 7: https://travis-ci.org/qa-tools/qa-tools/jobs/63512286

If I just run plain PHPUnit, then build passes sort of (ignore timeouts): https://travis-ci.org/qa-tools/qa-tools/jobs/63516774

Maybe it's failing because xdebug doesn't work on PHP 7.

[2015-05-21 17:55] aik099 commented on #162
I think we should ignore coverage CLI options (or coverage phpunit.xml options) when no xdebug is installed. For example PHPUnit shows `The Xdebug extension is not loaded. No code coverage will be generated.` and continues to run tests.

The ParaTest is throwing an exception and does nothing:
[code]
In fact maybe internally PHPUnit catches that PHP_CodeCoverage exception and shows nice message ins

[2015-05-21 18:46] gabrielpreston opened #163 "composer install issue"
I cloned the repo down locally to work on a bug fix, ran composer install, and am presented with the following issue:

[code]

Is anyone else running into this problem?

[2015-05-21 19:40] julianseeger commented on #163
Could you paste your composer.json please?
paratest has no direct dependency to phpspec/prophecy. So it's either a dependency of some other lib we are using or something else in your composer.json.

[2015-05-21 19:42] julianseeger commented on #162
Makes sense for the default behavior. But additionally the tests would have to be skipped because they make no sense without xdebug.

[2015-05-21 19:45] julianseeger commented on #146
Is the behavior of release 0.12.1 better?

[2015-05-21 19:50] aik099 commented on #162
I hope, that that change would fix Travis CI PHP7 test run.

[2015-05-21 19:54] gabrielpreston commented on #163
This is based on the default composer.json that comes with this repo:
[code]

[2015-05-21 19:56] gabrielpreston commented on #146
Unfortunately no. The error still occurs, just with a little less information in the exception being thrown.

[2015-05-21 22:12] gabrielpreston commented on #163
Looks like phpunit/phpunit has started requiring that phpspec/prophecy package as of version 4.5. I'll open an issue with them.

[2015-05-21 22:17] gabrielpreston commented on #163
Also, just found the issue so you can close this. I was running an older version of composer that didn't know how to handle the ^ operator for versioning.

[2015-05-21 22:47] #163 closed

[2015-05-22 00:46] gabrielpreston commented on #146
Here are the two scenarios in which I've seen the failure condition come up:

A @group provided, and a test belongs to no groups.
A @group provided, and an exclude-@group is provided, and a test belongs to both groups.

And to reiterate what seems to be happening, at least in my situations, is that based on what paratest passes to phpunit, if phpunit decides a test is not going to be run, the resu

[2015-06-16 23:05] ryanmc2033 commented on #160
any update on this?

[2015-06-17 16:33] julianseeger commented on #160
Nope.
It must be an issue deep in the xdebug code. Looks buggy to me... In the [original report](https://github.com/brianium/paratest/issues/160#issue-62488920), the closing braces my make sense, but line 86 and 93 should be green and aren't. Merging multiple buggy reports to one that is not buggy seems bad.

[2015-06-17 20:39] aik099 commented on #160
Are we using PHP_CodeCoverage native merger or our own merger?

[2015-06-17 21:28] julianseeger commented on #160
The native one.
https://github.com/brianium/paratest/blob/master/src/ParaTest/Coverage/CoverageMerger.php#L34
\ParaTest\Coverage\CoverageMerger is only a wrapper...

[2015-06-19 00:27] nirav1911 opened #164 "Error with group option"
I am getting an error when I use --group with paratest and some of the test cases don't have any group defined in the tests.

Error: Maybe there is more than one class in this file.

[2015-06-23 06:06] jboffel opened #165 "Do you plan to add support for newer phpunit version soon?"
Latest version stable is 4.7 so 3.7.8 is already quite old...

[2015-06-23 12:57] brianium commented on #165
the `>=` constraint just says it supports 3.7.8 and higher. This includes new versions of PHPUnit as well

[2015-06-23 13:27] jboffel commented on #165
Good catch, sorry I misread the constraint... I've been surprised when executing it because it behaves differently than simply running phpunit alone in my use case and I thought it was due to some unsupported tag from the phpunit.xml. But it is probably coming from a different reason as paratest is using phpunit 4.7.5 with the last installation.
Thanks for your help!

[2015-06-23 13:27] #165 closed

[2015-06-29 19:52] sormy commented on #164
What version do you have?

[2015-06-29 19:54] sormy commented on #125
I think this problem fixed in the master

[2015-06-29 19:54] sormy commented on #95
this problem fixed in the master i think

[2015-06-29 19:55] sormy commented on #60
this problem fixed in the master

[2015-06-29 21:14] julianseeger commented on #60
Seems like there is a release missing. ... -> 0.12.2

[2015-06-29 21:38] julianseeger opened #166 "fix the build"
2 issues:
* hhvm-nightly no longer exists (has to be removed from the travis.yml)
* phpunit has corrected (?) it's output for warnings. They show up in the summary as tests, assertions and failures ... thus, the test https://github.com/brianium/paratest/blob/b107f324f01f1a5557589b946558a2a94e282c00/test/functional/PHPUnitTest.php#L311 has to be adjusted accordingly. (Looks strange that warnings sh

[2015-07-02 00:14] GuilhermeGuitte commented on #160
any update on this? (2)

[2015-07-02 22:10] julianseeger commented on #160
I think this issue has to be tested in isolation on https://github.com/sebastianbergmann/php-code-coverage and if it is really independent of paratest, it has to be reported/fixed upstream in that project.

[2015-07-14 20:50] jaredmcateer commented on #164
I have this problem as well. I'm using the latest dev-master via composer as of today. I tried to exclude a group and I am getting this error on a file that has the annotation:

     paratest -p4 --configuration phpunit.xml --exclude-group=synchronousTests Website/

    Running phpunit in 4 processes with /data/istock/vendor/bin/phpunit

    Configuration read from /data/istock/ZF/unittest/phpunit

[2015-07-14 20:55] sormy commented on #164
Could you write fail phpunit test for that case?

[2015-07-14 21:04] jaredmcateer commented on #164
Sure thing

    paratest -p4 --exclude-group=skip MyTest.php

Works:
[code]

Fails:
[code]

Fails:
[code]

[2015-07-15 13:20] jaredmcateer commented on #164
Further testing, if you try to test a group where none exist in the file(s) you're testing you will get this error.

E.g., if you run

    paratest --group=doesnotexist MyTest.php

on any of the cases above you will also get the runtime error.

[2015-07-15 13:24] jaredmcateer commented on #164
I see that there is another discussion about this https://github.com/brianium/paratest/issues/146

[2015-07-15 13:25] jaredmcateer commented on #146
I've written how to reproduce this issue with some minimal test cases in #164

[2015-07-21 08:52] theNailz opened #167 "PHPStorm setup manual"
Has anyone been able to setup PHPStorm with paratest? I haven't found a place to define my alternative phpunit executable.

[2015-07-22 15:48] chriscalifornia88 commented on #167
Set it up as a PHP Script Run/Debug Configuration.

File: 'vender/bin/paratest'
Arguments: '--processes=6 --configuration=', etc

[2015-07-24 07:00] jboffel opened #168 "Bug when trying to pass --configuration parameter with a folder including space in the name"
I finally got some time to work on the difference of behavior I observed between phpunit and paratest. The reason is below:

I traced the execution of phpunit with strace and when the folder is including space you can see the invocation of phpunit as follow:

[code]

instead of:

[code]

The result is an InvalidArgumentException with the current issue.

[2015-07-24 08:16] jboffel commented on #168
Never mind, my version was already old, I tried with the last dev-master and the bug is already fixed.

[2015-07-24 08:17] #168 closed

[2015-07-24 18:31] julianseeger commented on #168
anyways, 0.12.3=dev-master so no need to fix on dev-master ;)

[2015-08-23 19:31] localheinz commented on #166
@julianseeger

Here's a PR for removing the `hhvm-nightly` from the build matrix: https://github.com/brianium/paratest/pull/172.

[2015-08-23 19:31] localheinz commented on #161
:+1:

[2015-08-23 21:07] #167 closed

[2015-08-23 21:10] julianseeger commented on #161
As soon as the build is back to green, 5.3 will be removed from the build matrix and 5.4 will follow at EOL (15 Sep 2015 http://php.net/supported-versions.php)

[2015-08-28 18:14] justechn opened #176 "phar package"
It would be great to see this packaged in a phar file like phpunit so it can run without composer. I am setting this up on a build server and need to call it stand alone.

Thanks

[2015-08-29 09:00] julianseeger commented on #176
Do you know an easy way to automate this?
Checking in the phar sounds redundant ant contains the risk that code and phar get out of sync (with merges etc).

I could attach a phar for each release manually ... but I would prefer some automated way ;)

[2015-08-29 10:10] julianseeger commented on #166
the issue related to warnings was propably caused by https://github.com/sebastianbergmann/phpunit/commit/821427232dd4028f8a13832219c4d73c73b3d879 which is a fix for https://github.com/sebastianbergmann/phpunit/issues/1317
phpunit 4.7.2 works but 4.7.3 does not

[2015-08-29 10:44] julianseeger commented on #166
fixed

[2015-08-29 10:44] #166 closed

[2015-08-29 11:37] julianseeger commented on #162
The time works for us. It's still failing with PHP7 but now it looks fixable.
Probably related to the changed behavior of RuntimeErrors and Fatals (quick guess...)

https://travis-ci.org/brianium/paratest/jobs/77806863

[2015-08-29 11:40] #161 closed

[2015-08-31 22:45] justechn commented on #176
It looks like it could be automated
http://code.runnable.com/Umu3fTe6SJxIAAAS/how-to-create-and-use-a-phar-archive-for-php
http://www.sitepoint.com/packaging-your-apps-with-phar/

Although I have not tried any of them out personally.

[2015-09-01 15:22] brianium commented on #176
I have had some success with [box](https://github.com/box-project/box2) and [Robo](https://github.com/Codegyre/Robo) as a build tool. Create a build task in Robo for generating the phar, and a separate one to upload that phar to a location.

[2015-09-03 18:27] ThomasDelteil opened #178 "SkippedOrIncompleteTest test fails if "S" in path"
Hi

in paratest/test/functional/SkippedOrIncompleteTest.php

I got

[code]

I var_dump the proc output and found why:

"\n\nRunning phpunit in 5 processes with /Projects/open**S**ource/paratest/vendor/bin/phpunit. Functional mode is ON. \n\nConfiguration read from /Projects/open**S**ource/paratest/phpunit.xml.dist\n\n**S**s\n\nTime: 417 ms, Memory: 4.25Mb\n\nOK, but incomplete, skipped, or risky t

[2015-09-03 18:49] ThomasDelteil opened #179 "Running <testsuite> in parallel"
# Running testsuite defined in the config in parallel

I wanted to open the discussion on the possibility to run testsuite in parallel using paratest.

By this I mean, giving each runner a specific testsuite to run, the testsuite would be defined in the phpunit.xml config.

You might ask why. Well, I tried to run paratest on our test suite on a 16 core machine using 16 process.
It only brought dow

[2015-09-03 19:34] ThomasDelteil opened #180 "paratest ignores the <exclude> tags from the phpunit config.xml"
As per the title, paratest ignores the type of tags in the `<testsuite>` node
- `<exclude>`
- `<file>`
- `<directory>`

They are treated without distinction

[2015-09-03 21:10] ThomasDelteil commented on #179
So early results:
after running the optimization to create 4 suites (my local machine has only 4 cores)

paratest **--parallel-suite true** --runner WrapperRunner -p 4 --configuration=build/phpunit_generated.xml
[code]

running the same config file with **paratest**
paratest --runner WrapperRunner -p 4 --configuration=build/phpunit_generated.xml
[code]

Running with only **phpunit**
phpunit -c bui

[2015-09-04 10:04] ThomasDelteil commented on #179
You can find the POC https://github.com/ThomasDelteil/paratest/tree/parallel-suite
and the python utility also a POC, I will probably port it to PHP as command for paratest
https://github.com/ThomasDelteil/phpunit-ts-optimizer

[2015-09-05 13:15] julianseeger commented on #179
Have you compared your results with a combination of `-f` and `--batch-max-size`?
Increasing the batch size to >> 1, multiple testmethods will be executed in one process, reducing the overhead of spawning processes. This will of course not result in a balanced minimal-process execution but should result in a much better result than using -f with the default batch size of 0.

[2015-09-06 20:47] ThomasDelteil commented on #179
I tried, if I remember correctly it was quite much slower. Though i didn't try for -m >>> 1.  Correct me if I am wrong, - f does batch methods together but not from different test files or does it? This particular suite has 513 test files. So that makes it at least spawning 513 processes. I will benchmark it against paratest own tests and let you know the results.

[2015-09-10 20:51] danielbachhuber commented on #159
I think paratest requires test files to end in `-Test.php` as of #116

[2015-09-13 20:04] ThomasDelteil commented on #179
I tried to run my version on the paratest suite itself, here are the results (running on a MBP 4 cores)

### PHPUnit alone
`phpunit`
`Time: 29.42 seconds, Memory: 22.00Mb`

### Paratest functional mode
`bin/paratest -f -m 20 --phpunit=/usr/local/bin/phpunit`
`Time: 22.91 seconds, Memory: 7.75Mb`

### Paratest non-functional mode
`bin/paratest -c phpunit.xml.dist`
`Time: 23.73 seconds, Memory: 7.75

[2015-09-14 15:06] Djamiyo commented on #146
I faced the same problem. Any thoughts how it can be fixed?

[2015-09-28 18:37] #178 closed

[2015-10-22 14:11] PieterDC commented on #146
I faced the same problem.

[2015-11-04 19:19] jeffminard-ck commented on #146
Here is a very clear example of the problem: https://github.com/jeffminard-ck/paratest-error

I've ended up patching the system to not throw and error in this situation and also had to modify another place in the code to not fail when iterating over the empty test suite (which it assumes will have elements)

[2015-11-04 19:29] jeffminard-ck commented on #146
Ah, @jaredmcateer provided a better example I see.

[2015-11-04 21:25] jeffminard-ck commented on #146
I've tossed in some work on the unit tests to show where these deficiencies lie:

https://github.com/brianium/paratest/compare/master...jeffminard-ck:exclude-include-groups?expand=1

I also updated the code to allow those tests to pass as expected. I don't think I'm handling "no test run" properly (I imagine it has a non-zero exit code, but haven't checked yet). I also haven't done comprehensive t

[2015-11-08 11:55] julianseeger commented on #162
Help is appreciated here!
Next week, the final release of PHP7 is on schedule and the functional tests are still failing:
https://travis-ci.org/brianium/paratest/jobs/88874512

Would be nice if someone would find the time to dig in an find out why $proc->getErrorOutput() is empty and fatals result in an exitCode of 2 instead of 1. I'll have to disallow php7 builds to fail in the travis build-matri

[2015-11-15 18:41] tarjei commented on #19
Yes, I'd like to vote for this bug as well. Any tips wrt. when this bug will be fixed?

[2015-11-15 18:41] tarjei commented on #19
Or, how it could be fixed.

[2015-11-15 22:59] julianseeger commented on #19
A partly fix is on the way with PR #185

[2015-11-17 23:08] julianseeger commented on #19
About the "testsuite" elements containing child "testsuite" elements, @drefixs brought up some infos here: https://github.com/brianium/paratest/pull/185#issuecomment-156999270
As phpunit tries to produce junit-like logs and there is no trace that junit logs do or are allowed to contain nested "testsuite"-elements, I agree with @drefixs  that phpunit is doing it wrong.

Any opinions on this? Trying

[2015-11-18 07:51] tarjei commented on #19
Jenkins has a separate parser for junit xml logs from PHPUnit. If we can
use the normal one without problems then IMHO that is a win.

2015-11-18 0:08 GMT+01:00 Julian Seeger <notifications@github.com>:

--
__________________
Tarjei Huse
Mobil: 920 63 413

[2015-11-18 09:48] drefixs commented on #19
@tarjei
just see:
https://svn.jenkins-ci.org/trunk/hudson/dtkit/dtkit-format/dtkit-junit-model/src/main/resources/com/thalesgroup/dtkit/junit/model/xsd/junit-4.xsd (jenkins shema)
https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd (common shema)

Are you see any testsuite into testsuite ? jenkins can parse it but other CI system can't.
Now paratest has my fix for this problem #185 you

[2015-12-02 14:48] PieterDC opened #187 "Feature request: support PHPUnit's repeat option"
When I try to use the repeat option with ParaTest version 0.9.6, I get:

[code]

What's needed to support this option?

[2015-12-02 20:40] julianseeger opened #189 "No coverage support in PHPUnit 5"
[code]
https://travis-ci.org/brianium/paratest/jobs/94485558

PHPUnit 5 seems to require a whitelist configured when running with coverage.
The paratest build fails. Maybe it is only a problem with the phpunit test itself (but maybe not ^^)

[2016-01-15 13:08] #189 closed

[2016-01-15 13:08] #162 closed

[2016-01-20 18:22] rscafi commented on #180
:+1:, it was driving me crazy

[2016-01-20 22:46] ThomasDelteil commented on #180
I actually have a fix somewhere for that, I will see if I can get it in order and properly tested and issue a PR. As far as I remember I had to refactor a few classes to make it work properly though

[2016-01-21 00:19] ThomasDelteil commented on #180
@rscafi I have added tests and opened a PR. That would be helpful if you had time to checkout this branch and test it against your config see if it behaves correctly:
https://github.com/ThomasDelteil/paratest/tree/fix_exclude_folder

[2016-01-22 11:50] rscafi commented on #160
I can confirm that, at least for my use case (and @GuilhermeGuitte), this is no longer a bug. I guess that php-code-coverage has been fixed and the coverage is now correct.

[2016-01-24 22:09] #180 closed

[2016-01-24 22:20] julianseeger commented on #160
@justechn can you confirm that, too?

[2016-01-24 22:44] justechn commented on #160
I am no longer working on the project that I reported this from so I cannot confirm. I am ok if you close it.

[2016-01-24 22:44] #160 closed

[2016-02-23 23:03] carlo1138 commented on #146
We had to fork and patch the project to use class level `@group` annotations. This worked for us, but I don't think it's good or general enough for a PR
[code]

[2016-02-25 17:41] julianseeger opened #197 "Interpretation problems with the latest phpunit 5"
see https://travis-ci.org/brianium/paratest/jobs/111803893

[2016-03-18 12:40] SvenRtbg opened #199 "XML output cannot be parsed by Jenkins"
When running a test suite, the resulting XML is correctly parsed by Jenkins when only using PHPUnit, but fails when using Paratest.

The build is triggered by a Phing build.xml

[code]

This fails.

However, when I fix the output file just a little bit, it works:

[code]

The important part is the SED operation (the surrounding part is just saving the exit code):

sed -i -e 's/line=&quot;&quot;/li

[2016-03-18 12:44] SvenRtbg commented on #199
The Jenkins xunit plugin has a schema for the result.xml files. See https://github.com/jenkinsci/xunit-plugin/blob/master/src/main/resources/org/jenkinsci/plugins/xunit/types/phpunit-2.0.xsd

[2016-03-18 13:03] mabu-github commented on #199
Another solution could be not to write out the "line" attribute because it is optional.
`<xs:attribute name="line" type="xs:integer" use="optional"/>`

[2016-03-18 13:14] SvenRtbg commented on #199
https://github.com/brianium/paratest/issues/19 looks related to this.

[2016-03-31 16:41] fuel-odrais opened #200 "Feature request: Pass <php> element in phpunit.xml configuration file to PHPUnit"
In my phpunit.xml configuration, I've got the following <php> element:

`<php>
        <ini name="memory_limit" value="768M" />
    </php>`

When running PHPUnit standalone and passing the phpunit.xml config via the --configuration option, the memory limit directive is followed.
When running via paratest and passing the phpunit.xml config via the --configuration option, the memory limit directive

[2016-04-19 13:37] jeanCarloMachado opened #202 "escapeshellarg(): Input string contains NULL byte with anonymous classes"
I get this error when running paratest with a test case using anonymous classes.

Running the same suite on phpunit it works.

[code]

My test case:

[code]

If I comment or substitute the ```return new class (self::OUTDATED_CERT) implements ``` for a new class it works.

[2016-05-17 15:19] nikita2206 commented on #158
I'm experiencing similar problems here: if I have some kind of error in the bootstrap file, I won't get any meaningful message about it, even though it returns `1` exit code and writes error message to STDERR. And it's pretty common for applications to clear the cache in bootstrap, which can obviously instantiate a lot of dependencies from DI graph. This results in a silent failure when I have som

[2016-05-19 10:38] mmamedov opened #205 "flock() testing"
I am testing code that needs to acquire file lock using PHP's flock (LOCK_EX | LOCK_NB), paratest isn't able to catch locks.

When test is run with method output testing using assertEquals true or false, it always returns true - as if locking isn't activated at all.

Interesting thing however:  if I uncomment sleep(1) line inside the code, paratest prints correct output, saying that 1 assert was t

[2016-05-23 10:36] coyl commented on #158
+

[2016-05-23 20:37] #197 closed

[2016-05-23 20:55] julianseeger commented on #205
Hard to say without knowing your exact test classes but it looks like you assume all tests start at exactly the same time. But this is not true.
Without the sleep, the lock is only hold until the test finishes, which will be some milliseconds at best. If you run 5 tests in parallel, paratest needs to spawn one new process per test and spawning a process is expensive (depending on your system but p

[2016-05-24 06:52] mmamedov commented on #205
@julianseeger Thanks, that's all I needed to know. It explains it.
Nevertheless, paratest helped me in successfully testing flock() with sleep(1). That 1 second sleep on lock, made all other parallel processes to fall into that 1 second where lock was in place. As expected function returned false for all those processes.

As you explained, since parallel tests do not start at the same time, withou

[2016-05-24 08:48] julianseeger commented on #205
you're welcome ;)

[2016-05-24 08:48] #205 closed

[2016-05-24 13:00] salexfo opened #206 "Paratest proccess hangs and does not respond"
Hi, I'm trying to utilize paratest to accelerate moodle unit testing. I've installed paratest via composer and when I try to run it via sudo vendor/bin/paratest -p 4 -c phpunit.xml
it just gets stuck and doesn't react. When using ps auxf I can see that the processes have the status: S+.

Can anyone assist?

Thanks,
Alexander

[2016-05-24 13:21] julianseeger commented on #206
Are you testing the https://github.com/moodle/moodle master ?
Btw.: you shouldn't need a `sudo` on your tests. more generally you shouldn't need a sudo at all when using composer and if you need it, you should change what makes you need it

[2016-05-24 13:26] salexfo commented on #206
@julianseeger yes, we are.

[2016-05-26 11:21] salexfo commented on #206
can someone assist?

[2016-06-07 13:19] aik099 opened #209 "Fatal error, when collecting coverage on PHP 5.6"
When I run PHPUnit 5.4.2 on PHP 5.6 using Paratest I'm getting following errors:

[code]

See https://travis-ci.org/qa-tools/qa-tools/jobs/135858201

This seems to be a recent issue, because last week that build passed.

[2016-06-07 13:40] julianseeger commented on #209
Did you try 0.13.2 or dev-master?
https://github.com/brianium/paratest/pull/207 is addressing this problem but currently wip

[2016-06-07 13:58] aik099 commented on #209
Nope. It's not that bad, because strangely test on all other PHP versions pass.

I'll just wait for it to be finished then. Or maybe lock to a specific PHPCov version.

[2016-06-09 13:47] michaelbutler commented on #209
Fixed in https://github.com/brianium/paratest/pull/208

[2016-06-09 13:57] michaelbutler commented on #200
I don't 100% agree with this, I ran in to the same problem but solved it with -d parameters when running paratest. I don't think paratest should use the same ini overrides as the PHPUnit sub processes, because it's doing different things. In my case, I want paratest itself to have a lot of memory for code coverage merging, but I want my phpunit sub processes to have small amount of memory.

[2016-06-09 20:04] julianseeger commented on #146
We may have a fix (now with a green build) for this and #164 in https://github.com/brianium/paratest/pull/201
Can somebody confirm the fix? If so, a little test and we could get it in.

[2016-06-09 20:37] alexmac opened #211 "Paratest does not support phpunit >= 5.4.x"
phpunit 5.4.x depends on php-code-coverage >= 4 (https://github.com/sebastianbergmann/phpunit/blob/5.4/composer.json) but paratest depends on php-code-coverage >=3,<4 so composer complains about the unsatisfiable deps:
[code]

[2016-06-09 20:43] julianseeger commented on #211
Wow that was fast.
The constraint to php-code-coverage<4 was just merged, but actually it was broken for some time now. The "what" to do is currently discussed in #207. Until then, you could stick with `0.13.2` that that doesn't have that version constraint, but you shouldn't use coverage because it will break.

The next release (either `0.14.0` or maybe `1.0.0`) should support php-code-coverage 4

[2016-06-09 21:00] julianseeger commented on #209
At lest the `Or maybe lock to a specific PHPCov version.` is now done by paratest. For phpcc 4 support we have #211

[2016-06-09 21:00] #209 closed

[2016-06-10 11:41] Mechazawa opened #212 "Run PHP with -d parameters"
Right now the PHPUnit executable is called directly by the application. This means that `/usr/bin/env php` is implicitly used to execute php. It would be great to have a parameter that allows us to set uptional ini parameters. Such as `-d zend_extension=xdebug.so`. Since XDebug isn't always loaded in on every system by default and is sometimes only used to get coverage information.

A way of imple

[2016-06-15 09:57] notclive opened #213 "TEST_TOKEN's are indexed differently by Runner and WrapperRunner"
When using the Runner the TEST_TOKEN is a number between 0 and the number of processes - 1.

When using the WrapperRunner the TEST_TOKEN is a number between 1 and the number of processes.

We have a test suite which use a mix of Runner and WrapperRunner, this means that we have to provision one more database than necessary.

[2016-06-28 06:32] dominics commented on #212
As long as you're using the standard runner, it should be possible (albeit annoying) as a workaround to create a small script that does `exec php -dzend_extension=xdebug.so phpunit`. You name it phpunit-wrapper (or similar) and get paratest to call it using the `--phpunit=path/to/phpunit-wrapper` command line option.

Unfortunately, this workaround seems to be broken for the `WrapperRunner`, which

[2016-07-06 07:01] #211 closed

[2016-07-13 13:17] Multiply commented on #202
I made a hacky fix here: https://github.com/Multiply/paratest/commit/e8f9cd485493756b3ba24f3df343d8609436d366

I can make a PR if you want, but the code is not nice at all. Not even sure if this is the best place to fix it.

[2016-07-13 18:38] julianseeger commented on #202
Wow where das that come from?
Imho a fix (with a test) is better than a bug ;) @Multiply

[2016-07-14 08:49] Multiply commented on #202
The null byte comes from PHP's internals. I read some mailinglists to figure out why it was even there in the first place, but no good answer so far.

@julianseeger Do you feel this is the right place to fix it? If so, how would you like me to test it properly?

[2016-07-14 16:18] julianseeger commented on #202
As it's the first place where the broken name appears it sounds reasonable to me.
And for the test: what about creating such an anonymous class, passing it to the parser, calling getClass() on it and get the name out of the result. The error should be observable then (without the fix), shouldn't it?

[2016-07-15 08:47] Multiply commented on #202
@julianseeger Take a look at #216 when you have time. I'd love some pointers.

[2016-07-18 15:01] PieterDC commented on #158
We also encounter the "Log file is empty" error from time to time. We have a hard time discovering the underlying problem.

Any step to a more descriptive error message would be an improvement.

[2016-07-19 11:15] PieterDC commented on #187
Months later, we developed code for this feature request ourselves. See https://github.com/brianium/paratest/pull/217

[2016-07-20 19:41] julianseeger commented on #187
Contributions are always welcome :)

[2016-07-20 19:46] julianseeger commented on #202
That's a hard one. I actually don't know whats happening. If it's just php-code-coverage that loads that file because it has the `.php` suffix, it would be enough to move the file elsewhere or change the extension to something other than `.php`... but that's just guessing :/

[2016-07-27 09:40] wojciechmorawski commented on #100
Same problem here - but fortunately I've got solution :)

So:

phpunit tests -c ./tests/phpunit.xml
Could not read "./tests/phpunit.xml".

It took me 30 minutes to realize that I've got white space at the end of config file.
It was : "phpunit.xml "
It should be : "phpunit.xml"

After this small change everything works like a charm 👍

[2016-07-27 14:17] tsikytchax commented on #164
Hi,

I just installed paratest on a Symfony project to speed up my thousands phpunit tests. I had the same problem and I solved giving the right path to phpunit. Here is the command I execute :

php -d memory_limit=1024M vendor/brianium/paratest/bin/paratest -p 2 --phpunit vendor/phpunit/phpunit/phpunit --bootstrap app/bootstrap.test.php -c app/phpunit.xml --testsuite AriaUnitTestSuite --log-junit

[2016-07-27 22:35] donkeyx commented on #206
--bump--
I am having the same problem, would be good to see some movement? I have tried using WrapperRunner but same problem in getting stuck after "configuration read from". The text below is where it gets too but no further.

[root@d2a816dda349 html]# vendor/bin/paratest -p 10 --runner WrapperRunner
Moodle 2.7.13 (Build: 20160314), pgsql, c55b93c6d6656b896b1f2da1c3ac7760fbc86fab

Running phpunit

[2016-08-11 08:42] ostrovanka opened #220 "Tests from one Suite are run in different proccesses"
Hi all!

i'm experiencing the following problem:
I've got autotests for Magento 2, they are divided in testsuites, each test in suite is located in its own file,

In phpunit.xml suites are defined like this:
[code]
I'm running tests with the following command:
`vendor\bin\paratest.bat --processes="2" --phpunit vendor\bin\phpunit.bat --configuration .\phpunit.xml`

What I expect to see: tests from

[2016-08-12 20:02] #202 closed

[2016-08-12 20:27] julianseeger commented on #220
I don't think thats implemented.
What you're talking about is per-testsuite-parallelization (discussed [here](https://github.com/brianium/paratest/issues/102) a while ago).
Afaik paratest only supports per-testcase-, per-testmethod-, and per-dataset-parallelization (without `-f`, with `-f`, `-f` + `--max-batch-size`... in that order).

Do you have inter test dependencies?
Then `@depends` should wo

[2016-08-17 10:11] ostrovanka commented on #220
@julianseeger Thank you for your answer. You're right, paratest can't help me with parallel execution of testsuites.
I solved this problem with running my tests via ant builder.

I'm closing the question.

[2016-08-17 10:11] #220 closed

[2016-09-03 02:12] theofidry commented on #164
@tsikytchax there is a PR for it (#201), but it needs to be finished (doesn't seem to be missing much) to be merged.

[2016-09-15 08:52] rohan0793 opened #222 "How do I make sure I run two tests within the same thread?"
So I working with testing my emails using mailtrap and I am running into a weird issue where I fetch the last email to check if the sent email was correct. But since the threads run different tests together, the emails get mixed up between tests. How to make sure that certain tests are run in a single thread whatsoever?

[2016-09-15 16:26] gabrielpreston commented on #222
You'll want to refactor your logic to send emails to unique inboxes per test and then only check that specific inbox.

[2016-09-16 08:48] rohan0793 commented on #222
But I am on the free plan and I only have 1 inbox to my disposal. I guess I'll have to upgrade my plan.

[2016-09-16 08:48] #222 closed

[2016-09-16 22:09] calebfavor commented on #167
Was anyone actually able to get this to work? I've been at it for 2 hours and it seems to be impossible to get paratest to run inside phpstorm using a PHP Script configuration or any other configuration.

[2016-09-16 22:14] gabrielpreston commented on #167
It took me about a minute just now to add paratest under Tools->External Tool, not sure if that's ideal for what you are looking to do though.

[2016-09-16 22:19] calebfavor commented on #167
@gabrielpreston - Mind sharing the details of how you setup the external tool and run configuration? I can't seem to get it going.

[2016-09-16 22:33] gabrielpreston commented on #167
In the application's settings, I went down to the Tools section, and then External Tools. I added a new one and named it `paratest`.

Then, under `Tool settings`:
For `Program`, I browsed to where paratest was installed
For `Parameters', I set mine to `-f -p 5`
For `Working directory`, I set that to the directory I would have been in had I tried to run paratest myself from the command line.

[2016-09-16 22:39] calebfavor commented on #167
@gabrielpreston - That work perfectly, thank you!

[2016-09-16 22:44] gabrielpreston commented on #167
Great! This is the most simplistic way to get it done. There may be some things you can tweak with it to specify specific groups or test suites you want to run, but I didn't spend the time to look into that.

[2016-09-22 13:49] KarimGeiger commented on #212
I'd appreciate this feature as well.

[2016-09-30 12:25] doratias commented on #206
does anyone already solved this issue?

[2016-10-28 00:04] michaelbutler commented on #199
I hope that my PR fixes this problem. Please confirm if you can by checking out this branch and using it in jenkins.

[2016-10-28 12:53] julianseeger commented on #199
https://scrutinizer-ci.com/g/brianium/paratest/inspections/5d2bda90-85d1-4620-b7ee-a2c90ed6d589

There were no notable changes in the changeset which was inspected.

so it's either not working anymore or it has nothing to say ;)

[2016-10-29 17:16] michaelbutler commented on #213
The fix for this is simple, I'm working on it presently. However confirming it via a unit or functional test is a bit tricky. My idea is to use a custom phpunit xml file with a custom test listener that logs to a file the TEST_TOKEN environment parameter. Then the functional test checks the file when the suite is finished, and confirms that the tokens are always 1, 2, .... n where `n` is the numbe

[2016-11-01 22:51] notclive commented on #213
I would suggest starting at 1. That way `getenv('TEST_TOKEN')` always returns a truthy value.

[2017-02-10 00:54] TysonAndre opened #226 "Create a release compatible with phpunit 6.0+"
https://github.com/sebastianbergmann/phpunit/wiki/Release-Announcement-for-PHPUnit-6.0.0#backwards-compatibility-issues

They changed from underscores to namespaces for naming classes. I haven't checked if there are other incompatibilities.

[2017-02-13 09:17] FireDrunk opened #227 "Support for multiple PHP versions"
It would be nice to have support for multiple PHP Versions at the same time. We are in the transition from PHP 5.6 (default on systems) to PHP7.1 (/usr/bin/php71).

We can overrule the PHPunit binary, but we can't tell paratest to start PHPunit with PHP7.1 (using /usr/bin/php71).

Is it possible to add this as a feature?

[2017-02-13 16:38] gabrielpreston commented on #227
Does the `--phpunit` flag not work as expected for you?

[2017-02-13 16:39] gabrielpreston commented on #227
Deleted my previous comment, sorry. I misread your post and caught my mistake right after I commented.

[2017-02-18 16:59] michaelst commented on #167
Is there a way to get this to work with a vagrant setup? I have phpunit setup with the remote interpreter but can't figure out how to do that with these suggested options.

[2017-02-19 18:16] asuth commented on #206
We experienced this issue and tracked it down to the following code that was part of a `set_error_handler` callback. Paratest would not report the error, and hang, if we had a php error somewhere in our code, e.g. (division by zero `1/0` somewhere in our code).

[code]

I assume because paratest parses stderr, it doesn't expect arbitrary stuff. Would be nice if paratest had more guards against thi

[2017-02-20 09:27] FireDrunk commented on #227
Any update on this?

[2017-02-21 02:49] michaelbutler commented on #199
@julianseeger requesting a close on this issue, as far as we know this specific thing has been resolved.

[2017-02-22 10:45] #199 closed

[2017-02-23 02:04] julianseeger commented on #227
Well, by changing the phpunit binary, you can change the php binary, too.
The phpunit file is just an executable script and because it starts with `#!/usr/bin/env php`, it is executed with php. By creating your own phpunit startup-script that uses php71 instead, you are done. Maybe it would even be enough to change the environment while running paratest, but I don't know if the environment is pass

[2017-02-23 02:15] julianseeger commented on #226
I labeled this as a bug now. Maybe thats not very exact but as the build is failing with phpunit 6, someone has to fix it before we can create a compatible release.

[2017-02-23 02:51] michaelbutler commented on #226
Anyone know if there is a backwards compatible polyfill to allow projects to work with both phpunit 5.X and 6.X?

[2017-02-23 02:55] michaelbutler commented on #206
Agreed, I believe I have experienced the same or very similar bug.  It would be helpful to have a simple reproduce script to test against so we could fix it.  One thing I noticed is that when using a custom test wrapper (or listener) along with wrapperrunner causes the hang..  But regular runner shouldn't.

[2017-02-23 02:55] michaelbutler commented on #206
Also,  what version of php are you using?

[2017-02-23 02:57] asuth commented on #206
We use HHVM 3.14.5

[2017-02-23 23:15] julianseeger commented on #226
As a last resort, we could create a branch for phpunit5 (to let that branch die at 02.02.2018) and create phpunit 6 compatibility in the master.
Technically it could work to use both phpunit-versions in parallel when they don't even overlap in namespaces, but getting both to work in paratest sounds like a maintenance nightmare.

[2017-02-23 23:18] #164 closed

[2017-02-23 23:39] julianseeger commented on #226
Looking at the network-graph, there is at least one phpunit 6 fork from @matthewnessworthy . As far as I'm concerned, we could just switch to phpunit 6 after the next release. Composer should be able to handle that and install that release for everyone using phpunit 5 and install all further releases for everyone requiring phpunit 6.

Maybe phpunit6 support would be a reason to create some parates

[2017-02-23 23:42] julianseeger commented on #146
Can anyone please confirm that this issue is fixed in the current master?

[2017-02-23 23:45] julianseeger commented on #19
Seems to be fixed. If anyone disagrees, please open a new issue with new infos what's good and whats missing.

[2017-02-23 23:45] #19 closed

[2017-02-25 06:35] splitice commented on #226
+1

[2017-02-25 17:22] michaelbutler commented on #226
I agree it **could** be a maintenance nightmare to have to maintain both PHPUnit 5 and 6... but let me see if I could do it.

[2017-02-26 01:24] julianseeger commented on #227
@FireDrunk you now got two ways to act on your problem. I hope this solves it for you.
As I see no action left for paratest itself, I'll close this issue. Feel free to comment / reopen if you disagree.

[2017-02-26 01:24] #227 closed

[2017-03-02 19:11] adrianmiu opened #230 "Parallel tests slower than regular phpunit"
I'm running paratest in vagrant and they take longer than regular phpunit. I've tried 2, 4, 8, 16 processes. I also tried using `-f` with no avail.

Any suggestions?

[2017-03-06 09:19] buffcode opened #231 "Support for coverage-text option"
We currently use the output of PhpUnit's `--coverage-text` option within our CI system to report the coverage.
While there are workarounds (like publishing into another format and parsing those), it would be nice to show at least the summary:

![image](https://cloud.githubusercontent.com/assets/2863518/23603667/539378b4-0256-11e7-970f-531404c599af.png)

[2017-03-10 22:53] michaelbutler commented on #230
1. How many CPUs are you allowing the Vagrant VM to use? If using the default (`1`) you likely won't gain anything since only 1 process will truly be running at the same time. In general, the `p` parameter for paratest should match the number of CPU cores you have available.
2. What are your result timings? Are we talking about a difference of 1 second vs 8 seconds or 1 minute vs 8 minutes? The re

[2017-03-10 22:56] michaelbutler commented on #226
I was hacking around with this creating a PHPUnit 5.X polyfill if using PHPUnit 6... and indeed it started to get pretty janky. It actually did work, however I ran into the annoying process hang problem. No errors or anything, just hangs until you Ctrl-C. I'm not sure if that's directly related to what I've changed but it probably is.

Thus I would recommend created a new branch for PHPUnit 6 supp

[2017-03-11 09:35] adrianmiu commented on #230
Thanks `--runner=WrapperRunner` fixed the issue

BTW, I had 2 cpus and the difference was from 9 minutes to 9:30 minutes

[2017-03-11 09:35] #230 closed

[2017-05-11 12:41] willemstuursma opened #235 "PHPUnit warnings and risky tests are ignored"
Any warnings generated by PHPUnit (for example: trying to set expectations for method that is not configured to be mocked) are ignored by paratest and treated as a pass.

Paratest should keep them as warnings.

The same goes for risky tests.

[2017-05-13 12:45] lemartin commented on #146
Just stumbled across this issue in `0.14.0`. It does not occur in `dev-master`.

[2017-05-13 13:38] julianseeger commented on #146
thx

[2017-05-13 13:38] #146 closed

[2017-05-13 13:49] julianseeger commented on #146
FTR: Contained in 0.14.1 (that now exists)

[2017-05-17 12:17] mihhac opened #236 "Paratest doesn't recognise class defined in test directory"
HI there, thanks for this great tool!

I stuck with the problem. I have base class defined in test directory

// tests/Foo.php
class Foo extends PHPUnit_Framework_TestCase
{
}

// tests/Bar.php
class Bar extends Foo
{
}

// composer.json
"autoload-dev": {
        "psr-4": {
                  "Test\\": "tests"
         }
}

// phpunit.xml is configured to use /vendor/autoload.php

If I run phpunit

[2017-05-17 13:22] julianseeger commented on #236
Hm... Are both classes in the namespace `Test` ?

[2017-05-17 13:49] mihhac commented on #236
HI @julianseeger, thanks for quick reply.

Yes they are in the same namespace (Test). As I said this will work with phpunit, so there is no problem with namespaces, autoloader or anything similar.

Best!

[2017-05-17 14:34] julianseeger commented on #236
I've setup a working example with your code: https://github.com/julianseeger/bp-236
Travis-Build working: https://travis-ci.org/julianseeger/bp-236

The only chances I made are adding a test to Bar and rename it to BarTest (for the test audodetection). It also works with "Bar" only but then you have to explicitly specify the file as a test.
Feel free to fork and modify the example to make it more

[2017-05-18 08:46] mihhac commented on #236
Hi @julianseeger,

Thanks a lot for your support! I figured out what cause the issue, and it is due to my project.  Missing classes were in directory Something/Foo, but on top of the class it was written Something/Bar. Therefore paratest could find parent class, because namespace was messed up.

Somehow phpunit could resolve it, but thanks to parates I could find this bug.

I tried reconstruct thi

[2017-05-18 19:19] julianseeger commented on #236
Phpunit loads all files (and the containing classes) while scanning for tests. Thus, it might know classes which the autoloader cannot resolve... but that's more by accident than a feature XD

Glad I could help

[2017-05-18 19:19] #236 closed

[2017-06-02 12:03] redaxmedia commented on #226
What is the status of this ticket? I and maybe others cannot use your great software after switching to PHPUnit 6 ... I suggest to drop the PHPUnit 5.x support for a Paratest 0.2... !?

[2017-06-06 06:10] julianseeger commented on #226
The version is not the problem. We could create Paratest 0.2.0, 1.0.0 or 42.0.0.
Problem is: no one yet contributed a (working) PR with PHPUnit 6 support

As PHPUnit 5 has its EOL in Feb. 2018, the current paratest version could be the last to support it and the next version would only have to support phpunit 6. if it's in the composer.json, that's good enough. So any contributions for a phpunit6-

[2017-06-07 01:10] TysonAndre commented on #226
https://github.com/brianium/paratest/compare/master...TysonAndre:phpunit6-fix?expand=1 should be further along than the other phpunit 6 fork that was mentioned

- One command line flag for disabling saving global state was disabled

The only remaining bug seems to be that paratest isn't aware of incomplete tests

[2017-06-07 02:41] TysonAndre opened #239 "Start testing this in PHP 7.2"
https://wiki.php.net/rfc/deprecations_php_7_2 mention `each()` will be deprecated in PHP 7.2, saw it used in src or test/

[2017-06-07 17:24] TysonAndre commented on #226
Follow up work:

Make sure that incomplete/skipped tests are output in the below format in the junit output **of paratest** (doubt it was implemented in my PR)

[code]

Make sure that the names, data provider info, etc. of skipped tests are now printed in CLI output, the same way phpunit would print those

[2017-06-07 17:42] TysonAndre opened #240 "Paratest should support multiple classes with different names in one phpunit test file, when only one file is a TestCase"
PHPUnit can properly handle this case without crashing.
Paratest should as well. **Thoughts?**

In several files in a project I work on,
there are helper classes alongside the test file,
used only in that test file.

- The naming convention used is different, FileNameTest.php contains namespace_subnamespace_FileNameTest extending test case class

I implemented this on a fork already at https://git

[2017-06-07 20:24] julianseeger commented on #239
FTR:
Deprecated in 7.2 means we'll get warnings (or notices?) about December this Year (https://wiki.php.net/todo/php72).
The mentioned methods will be removed in 8.0 according to the rfc.

[2017-06-07 20:53] julianseeger commented on #240
Paratest should as well. Thoughts?

I would say it wouldn't harm if it could and it might be good to behave as similar to PHPUnit as possible - but `should` ... I wouldn't sign that. IMHO psr0 and psr4 imply a 1:1 mapping of files and classes. Loosing this restriction for tests then leads to lower quality standards on tests than for the rest of the code, which shouldn't be ... but that opinion mig

[2017-06-08 12:09] matthewnessworthy commented on #226
@julianseeger please see the linked PR #237 which is currently passing

[2017-06-13 20:04] julianseeger commented on #240
fixed with https://github.com/brianium/paratest/pull/241

[2017-06-13 20:04] #240 closed

[2017-06-13 20:14] #226 closed

[2017-06-13 20:20] julianseeger commented on #226
🎉 🎈 🎂  good job
waiting for an ack on release 1.0.0 from @brianium

And FYI: I closed some PRs because they had no tests and now we now every new PR is based on the phpunit6-supporting master. If anyone has the time to dig in and write tests for those PRs, they might be a quick win because the code is / was already there - just worthless without test ;)

[2017-06-13 20:22] #200 closed

[2017-06-14 19:29] TysonAndre commented on #60
PHPUnit 6 adds the test names for `skipped` and `incomplete` to the XML output. However, paratest doesn't yet, even in the planned 1.x/0.16 release supporting phpunit 6.

A followup task for https://github.com/brianium/paratest/pull/237  would be to output (in CLI mode) the classes and names of tests that were skipped

[2017-06-14 23:47] Jonathonbyrd opened #242 "Composer Install Option for php 5.6 <= no longer available"
Brief
--
I just noticed today a new error that's preventing my sauce tests from running. Here's the message:

Travis is running into this error when trying to install composer. Here's a screenshot:
![screenshot-130](https://user-images.githubusercontent.com/205828/27159305-c6203c28-5120-11e7-964e-9312c398ba86.png)

I have PHP 5.6.23 installed with this Travis run. I'm using the following installat

[2017-06-15 11:21] willemstuursma commented on #242
You should change this to:
[code]

[2017-06-16 11:00] #242 closed

[2017-06-16 11:06] julianseeger commented on #226
We have an ack on 1.0.0.
And as nearly a workweek passed without major new bugs, I'm going to create release 1.0.0 in a couple of hours. Any comments / additions / critics?

[2017-06-19 14:09] iwiznia commented on #226
Hi! I just tested this on a project. I'm noticing that tests marked as risky when running regular phpunit are treated as errors when running through paratest.
In phpunit it looks like this:
![image](https://user-images.githubusercontent.com/521248/27289203-65cd4086-5509-11e7-8315-e88734f5c7bd.png)
And no error is shown on the bottom.

While in paratest:
![image](https://user-images.githubuserconte

[2017-06-19 15:08] julianseeger commented on #235
According to https://github.com/brianium/paratest/issues/226#issuecomment-309451036, warnings for risky tests are even treated as errors in paratest

[2017-06-20 08:09] willemstuursma commented on #235
We are using PHPUnit 5.7, maybe that's a difference. Would greatly appreciate warnings and risky tests to be treated as such.

[2017-06-20 22:18] TysonAndre opened #250 "Add support for printing test case results individually (But continuing to run in parallel)?"
If you have a large test suite, then you will have to wait for many minutes for it to finish, even when running in parallel.
If there's a crash/unhandled error in paratest (e.g. php7 Error failing to load dataProvider for a test class), then you won't see the tests which failed before that error, only the unhandled error.

Desired output format: Something which resembles the concatenation of multi

[2017-06-23 10:21] julianseeger commented on #250
I'm not sure whats the exact problem you want to address.

If you want fast error messages on error (fail fast), there is an `--stop-on-failure` option. That will stop and print on the first failure (which includes errors).

So not if a test fails but if paratest itself crashes? That's a tough one. It actually shouldn't crash. But in cases like failing to load dataProvider it would be nice if para

[2017-06-23 18:10] TysonAndre commented on #250
That's what I want to do. testdox-text output seems useful

[2017-06-23 18:29] TysonAndre opened #251 "Paratest emits notice in flattenTests if a test case throws in setUpBeforeClass()"
If a test throws an Error in setUpBeforeClass, then caseFromNode(\SimpleXMLElement $node) is passed a SimpleXMLElement with "name", "time", and a string "error", but missing values for other fields, such as "assertions" (should be int, but I get the empty string)

- The output of phpunit when setUpBeforeClass throws differs from the typical PHPUnit XML output. "assertions" is not a field of the XM

[2017-06-23 18:31] TysonAndre opened #252 "Start using php7 `declare(strict_types=1)` in this library?"
This helps catch errors earlier (e.g. passing an `int` to a function expecting a `string`)

[2017-06-24 21:44] julianseeger commented on #250
Sounds like a plan.
* this ticket is for the testdox-text-like output that prints the tests line by line and the error information directly following the test name
* a new issue for handling test-loading exceptions as test errors

[2017-06-24 21:46] julianseeger opened #253 "handle errors while initializing the test (e.g. loading dataProvider) as test error"
see https://github.com/brianium/paratest/issues/250#issuecomment-310735691

[2017-06-24 21:48] julianseeger commented on #252
Didn't use it before. Do you have to declare it in every file or just in the file that is the starting point?
It generally sounds good to me but I would expect a lot of pain. Even floats that are passed where ints are expected generate errors ^^ So the easyer order seems to add type annotations everywhere and enable strict typing when the first step is completed

[2017-06-24 21:56] julianseeger commented on #251
in https://github.com/brianium/paratest/blob/master/src/Logging/JUnit/TestCase.php :
[code]
And it's used as an array in `addDefect` so definition, documentation and usage with `count` look consistent. What am I missing?

[2017-06-24 22:21] TysonAndre commented on #251
Sorry, was looking at `TestSuite` (where those are integers) when I said *TestCase documents that assertions, failures, errors, and skipped are integers*, and got confused. You're correct about that.

[2017-06-24 22:24] TysonAndre commented on #252
https://secure.php.net/manual/en/functions.arguments.php#functions.arguments.type-declaration.strict

It has to be in every file.

- When a line in a file with `declare(strict_types=1)` **calls** a function from same/another file/ an internal function, strict type checks are made on the argument.
- When a function in a file with `declare(strict_types=1)` returns a value, strict type checks are mad

[2017-06-25 08:41] julianseeger commented on #252
I dug a little bit deeper into the discussion behind that rfc and imho it would be a good addition. While staying fully backwards compatible, it could catch some edge cases that may not have been tested but are in the code that is executed during tests (paratests tests). It then should be added to all classes starting with the TestCases and include type hints where known, making type annotations s

[2017-06-29 11:46] brianium opened #254 "Time to move repo to a separate organization?"
I'm going to open this issue here both as a question and a todo.

**Is it time to move ParaTest to a separate organization? Maybe something like `paratest/paratest` or something else if that organization is not available?**

**Rationale for moving:**

My last contribution to ParaTest was back in 2015. @julianseeger has really stepped up to maintain this project and keep it moving forward - fieldin

[2017-06-29 15:52] jlipps commented on #254
@brianium thanks for the ping. Moving to its own org makes sense. Just let me know what you decide and when you make the change and we can update any docs on our end!

[2017-06-30 14:26] Slamdunk commented on #252
This can be automatically done by https://github.com/brianium/paratest/pull/256

[2017-07-01 12:57] Multiply opened #257 "The reported version in the console is wrong"
When installing version 1.0.0 it reports back as 0.14.0.

Maybe this shouldn't be hardcoded in a file, but merely be read from the composer.json file, or something similar?

`php vendor/bin/paratest --version`

[2017-07-02 12:57] julianseeger commented on #257
*manually bumped to 1.0.1*

Have you ever done or seen it being automatically read / parsed from composer?
The composer.json wouldn't be sufficient. The composer.lock could do but I'm not sure if we know the exact location for sure...

[2017-07-02 13:14] julianseeger opened #258 "restructure build"
* coverage should be pushed only from one (and always the same) job
* php-cs-fixer (depends on #256) should run in a different stage (makes it easier to tell if test tests or the check failed)

[2017-07-04 12:46] Slamdunk commented on #258
I've deeped down [Travis build stages](https://docs.travis-ci.com/user/build-stages):

I see no advantage in using them, there is no job that depends on another one.
As soon as #256 is merged I'll create a PR with a restructured `.travis.yml` with a better variable handling, but without stages because the two points you listed here can be easily achieved anyway.

[2017-07-04 12:57] julianseeger commented on #258
looking forward to see that :D
don't care about stages. It would just be nice to see that the fixer failed instread of the test on the first look

[2017-07-04 15:11] Slamdunk commented on #258
https://github.com/brianium/paratest/pull/260

[2017-07-05 07:28] Slamdunk commented on #239
Closed with https://github.com/brianium/paratest/pull/260

[2017-07-05 13:49] willemstuursma opened #262 "--stop-on-failure does not work with WrapperRunner"
`--stop-on-failure` doesn't do anything when running with WrapperRunner.

Here is some output from our CI environment:

[code]

As you can see, it dutifully labours on even after the failure.

[2017-07-05 18:45] #252 closed

[2017-07-05 18:46] julianseeger opened #263 "type hints and return types"
missing ... see https://github.com/brianium/paratest/pull/261 for details

[2017-07-05 18:47] #239 closed

[2017-07-11 06:24] #263 closed

[2017-07-11 06:30] julianseeger commented on #254
Just FTR:
## :tada: 500 Stars Party :tada: :balloon: :birthday: *yay*

and regarding the topic: looks like composer has no feature like renaming a package. One can only abandon the old one (and mark it abandoned) and create a new package with the new name for the new repo location. Stars are more important than download stats aren't they?

[2017-07-11 10:54] brianium commented on #254
I think so! Cool - I'll make a task for myself to do this sometime this week.

[2017-07-12 08:28] Strate opened #265 "Teamcity error reporting"
Hi!

I would use this utility on teamcity server, but I can't force `--teamcity` flag to the `phpunit` runner. Is it possible?

[2017-07-14 07:36] julianseeger commented on #265
It's a little bit Note complicated.
The subprocesses of paratest report back to the main process of paratest and it is that process who needs to bei able to print teamcity result printer style. It shouldn't be complicated to add that printer to paratest. I'm just not sure if phpstorm would handle it correctly because it might not expect to see multiple Tests running at the same time.

[2017-07-21 15:46] rquadling opened #269 "Just started to evaluate paratest and it is trying to run a Windows .bat file. On OSX."
Hi.

Ran `composer require --dev brianium/paratest` and `paratest -p4` and got ...

[code]

Notice the `'/Users/richardquadling/dt/app/vendor/bin/phpunit.bat'` ...

I'm on OSX.

I think the issue is in `\ParaTest\Runners\PHPUnit\Options::phpunit()`. The docblock makes the incorrect assumption that if there is a `phpunit.bat` in `vendor/bin` that we must be on Windows.

Composer creates `vendor/bin

[2017-07-21 15:48] rquadling commented on #269
I just removed my `vendor` directory and `composer install` and the .bat files are present.

[code]

Running with composer v1.4.2 (stable channel).

[2017-07-21 15:53] rquadling commented on #269
Hmm.

So I removed the phpunit.bat file.

Re-ran `paratest -p4` and got ...

[code]

So I tried running the command that paratest is running ...

[code]

As is often forgotten, the contents of `vendor/bin` are shell scripts. They are NOT PHP scripts.

Paratest is running the shell script as if it was a PHP script.

[2017-07-22 15:41] julianseeger commented on #269
Let me clear some misunderstandings here first because just like paratest seem to assume things the devs saw on development, you are assuming that everybody sees the same behavior, you see on your OSX:

On linux, this statement is wrong. When you install phpunit, the file you find at `vendor/bin/phpunit` is a symlink to this file: https://github.com/sebastianbergmann/phpunit/blob/master/phpunit  .

[2017-07-22 19:48] rquadling commented on #269
Aha! When you said that the Bat files are produced only for windows, they are also produced if `"bin-compat": "full"` is set.

The repo in question had shared development between Ubuntu, OSX and Windows developers.

Removed the setting in `composer.json` and refreshed my vendor directory.

And guess what.

<head style="shame">All works fine</head>

[2017-07-28 17:13] ktomk commented on #257
`installed.json` has version and reference of a package installed. Here is a command-line example for the "`phpunit/phpunit`" package:

[code]

You can always find this file in the vendor folder which is a known location when installed as a package.

[2017-07-30 07:46] #257 closed

[2017-07-31 22:27] G3z opened #273 "testdox-text file is messed up"
i'm using paratest 1.0.1 & phpunit 6.2.3 with laravel 5.4
this is my phpunit.xml

[code]

with `$ phpunit` this is my `testdox.log`

[code]

this is the same after `$ paratest`
[code]

[2017-08-07 12:42] rquadling commented on #269
But/so/if ... as the .BAT file detection is currently in use by paratest to determine if this is a Windows setup, the detection will be incorrect if `"bin-compat": "full"` is set and the platform isn't Windows.

With that, I think this is still a bug, though probably quite a minor one.

[2017-09-06 21:19] TysonAndre opened #276 "Create a 1.1.0/2.0.0 release or alpha?"
E.g. want an official release including https://github.com/brianium/paratest/commit/0c48af96fd9a5fe36dd5f14282ac5dc5939f109c to avoid the E_USER_DEPRECATED warning

I'm suggesting 1.1.0 (or 2.0.0?) as a version because support for older phpunit versions was dropped after 1.0.1, in https://github.com/brianium/paratest/commit/fe0ed85bc392392c8a46de81923a639e63708355

[2017-09-07 12:44] julianseeger commented on #276
1.1.0 sounds good. 2.0.0 would be kind of extreme ^^ we don't even have an api break or something like that

[2017-09-07 14:24] dincho opened #277 "phpdbg support"
Currently it's not possible to run paratest with phpdbg instead of xdebug (dead slow) to generate coverage.

Running:
[code]

Results in wrong subprocess command construction as:
`/usr/bin/phpdbg7.1 /app/vendor/bin/phpunit --configuration=/app/phpunit.xml.dist --log-junit=/tmp/PT_I8omPT Tests\....`

It should be:
`/usr/bin/phpdbg7.1 -qrr /app/vendor/bin/phpunit --configuration=/app/phpunit.xml.dis

[2017-09-08 06:30] Strate commented on #265
@julianseeger

I don;t know about phpStorm, but Teamcity itself do it well with parallel tests. Nowadays I make parallel tests with GNU Parallel, and everything ok.

[2017-09-21 17:20] celowsky opened #278 "Incorrect Coverage report with PHPunit 6.3 and PHP 7.1"
With the latest stable/supported releases of PHPunit, PHP, and Paratest, it appears that the coverage report generated by Paratest is incorrectly reporting lines as not covered. These include opening and closing braces and brackets for functions and arrays, as well as closing parenthesis for function calls.
![incorrectcodecoverage](https://user-images.githubusercontent.com/5439675/30709223-2658385

[2017-09-25 14:01] willemstuursma opened #279 "Exceptions / errors in dataproviders are not output"
If there is an exception in a data provider, paratest fails but the error is not shown.

The output of paratest is:

[code]

In PHPUnit, there is a warning and the warning _is_ shown:

[code]

[2017-10-02 15:29] sciamannikoo opened #280 "Classes are not autoloaded when running tests"
I'musing the very same tests (configuration, bootstrap and tests) with normal PHPUnit and Paratest.

`phpunit` alone works just fine.

For some reason I could not explain when trying to run the tests with paratest, I get a fatal error.

To be 100% sure paratest is loading the right files, I'm using this command (`tests/phpunit` is where all phpunit tests, including phpunit.xml and bootstrap.php ar

[2017-10-04 01:59] celowsky commented on #278
The test suite is currently being run on a Symfony 3.3 project.

[2017-10-04 14:01] willemstuursma commented on #278
In xdebug there are covered lines, uncovered lines and dead code. Probably that last one is not passed through correctly.

[2017-10-04 15:04] MarkVaughn commented on #158
Seems still to be an open issue. Upgraded paratest & phpunit and just getting

  shed.

[2017-10-04 16:54] MarkVaughn commented on #158
never mind;   I had  `phpenv config-rm xdebug.ini` in my travis.yml, which disabled xdebug.
which is similar to #106

I'll make a PR to test if xdebug is enabled for that specific error

[2017-10-19 09:49] alexhouse commented on #254
@brianium Did you ever get around to doing this, out of interest? I know you can "abandon" packages on packagist.org and enter a new package to pick up instead which should alert any existing users when they go to update composer - should be all you need to do to support existing users!

[2017-10-19 11:29] brianium commented on #254
@alexhouse I created an organization and then never did anything with it O_o. I still intend to do this. Thank you for the reminder and the tip :)

[2017-10-19 15:57] jeanCarloMachado opened #282 "No info on failures"
PHPunit now distincts between errors and failures. When we have failures the suite exits with error as expected but we dont get any clue on the problem.

[code]

[2017-10-22 17:41] michaelbutler commented on #280
What version of Paratest and PHPUnit are you running?

[2017-10-22 18:21] michaelbutler commented on #279
What version of paratest and PHPUnit are you running? I believe this quirk was fixed in the latest version(s). I just tested it like so:

[code]

You can see that either running PHPUnit alone, or running with paratest, both generate the warning and show the result. They also both result in a `1` exit status code, indicating an error.

I do realize this was an issue in older versions, and as a work

[2017-10-22 20:13] michaelbutler commented on #282
What version of Paratest and PHPUnit are you running? I couldn't reproduce this one on the latest version of both. do you know what the specific failure was caused by? Was it simply a failed assertion or was it something else, like an E_ERROR raised.

[2017-10-30 13:45] okdewit opened #283 "defaultTestSuite attribute is ignored"
PHPUnit 6.1 and up supports `defaultTestSuite` like this:

[code]

This is honored by phpunit (currently using 6.4.3), but seems to be ignored by Paratest (1.0.1).

No big deal, but might be a useful addition.

[2017-11-06 09:33] kick-the-bucket commented on #142
PHPUnit actually support filtering by multiple testsuites separated by comma which is currently not supported by paratest.
Maybe should this be reopened or a new issue created?

[2017-11-09 00:35] marcelopm opened #284 "new option: --stop-on-error"
Same as https://github.com/brianium/paratest/pull/50 but for --stop-on-error

The reason why is that while using paratest with:
- docker
- laravel 5.5
- orchestral/testbench
- and others

We get some random false failures from time to time as reported in here:

https://github.com/orchestral/testbench/issues/202#event-1327024630

However, instead of giving up test parallelisation due to those, we o

[2017-11-13 08:08] andrejguran commented on #103
ping, still not working properly. ENV set in phpunit.xml are not being transferred to the tests

[2017-11-23 03:16] xakzona commented on #265
@Strate Can you give us example?

[2017-11-23 08:08] Strate commented on #265
@xakzona basically it is simple run `phpunit --teamcity $file` with help of `parallel` command

[2017-11-29 10:24] regniblod opened #286 "Use PHPUnit listeners"
Hello!

First of all, thanks for your project! It reduced to half the running time of my tests!

I'm trying to use a PHPUnit listener - this one specifically https://github.com/johnkary/phpunit-speedtrap - but I don't see any output when running my tests suite through `paratest`.

Output with PHPUnit v5.1.3

[2017-12-04 06:14] xakzona commented on #265
Paratest is better i think, the only think i need is teamcity option

[2017-12-12 14:55] Nossnevs commented on #167
![paratest](https://user-images.githubusercontent.com/5055546/33890915-d1d49cc2-df54-11e7-8ffb-9efaf5b87f3b.jpg)

[2017-12-14 23:21] celowsky commented on #179
@ThomasDelteil do you still have a working link for your POC referenced in your earlier comment? Both https://github.com/ThomasDelteil/phpunit-ts-optimizer and https://github.com/ThomasDelteil/paratest/tree/parallel-suite are giving 404's.

[2017-12-19 09:13] sciamannikoo commented on #280
@michaelbutler I'm sorry: I should have missed your question.

Since my question was posted, and as I couldn't work around the issue, I had to put paratest related tasks on hold due to other deadlines.

As today I gave it another try, after making sure to update my dependencies, I saw I was still getting the same problem.

phpunit is on 5.7.21 and Paratest is on 0.15.0.

For the record, I'm runnin

[2017-12-19 10:01] sciamannikoo commented on #280
By debugging a bit, I can see `./vendor/brianium/paratest/bin/paratest` loading the right autoloader file (which uses class mapping by the way), and yet, classes do not get loaded.

My bootstrap.php also tries to include the autoloaded with `require_once`, but as expected, since paratest does the same before the bootstrap, my inclusion is ignored.

I can see the autoloader working by simply checki

[2017-12-23 14:01] Gert-dev opened #293 "Make --colors option compatible with PHPUnit's version"
Some scripts and IDE tools written for PHPUnit set the `--colors` parameter to an actual value, such as `--colors=always`. Unfortunately this is incompatible with the version that paratest offers, as it throws the following error, making a simple replace of `phpunit` with `paratest` impossible:

```The "--colors" option does not accept a value```

I'm not sure if the `--colors` option in paratest

[2018-01-12 07:38] marden commented on #282
I've faced same issue. Paratest doesn't show warnings triggered by phpunit.
How to reproduce:
1. Create a test and mock some class with non-existent method.
2. Run phpunit with default settings. It will show warning:
`Trying to configure method "XXX" which cannot be configured because it does not exist, has not been specified, is final, or is static
`

3. Run paratest and you will not see a warnin

[2018-01-18 12:09] #277 closed

[2018-01-18 16:34] dincho commented on #277
Thank you!

[2018-01-22 11:34] uzbxodgiev commented on #66
Hi guys in Laravel 5.4 I installed paratest with composer but it crashes when I run my tests. Crash Log below

Log file C:\Users\SomUserName\AppData\Local\Temp\PT_9E76.tmp is empty. This means a PHPUnit process has crashed.
  The process: C:\xampp\htdocs\project\project_project\some_project\vendor\bin\phpunit.bat --configuration C:\xampp\htdocs\project\project_project\some_project\phpunit.xml --lo

[2018-01-24 10:00] KDederichs opened #295 "Version 1.1.0 not on packagist"
The new version doesn't seem to be available on packagist.
I don't know if that is intended or not :)

[2018-01-25 13:10] brianium opened #297 "Call for maintainers"
Figured I would start a thread to discuss things with parties interested in maintaining.

[2018-01-25 13:13] brianium commented on #297
Going to update the README as well. I have not used ParaTest in quite some time, and I don't really use that much PHP any more either. It sounds like that is the case for @julianseeger as well. ParaTest seems to help a lot of people, so it would be great if the project kept going. Maybe a maintainer or maintainers could step up and keep this thing going. If not, I fear this project will continue t

[2018-01-25 16:34] paragonie-scott commented on #297
I know a lot of people who use this internally. I've passed it onto some of them in case they want to step up, since they have a stronger incentive than myself to keep it running strong.

If they do not contact you by February 1, I'll be happy to get involved with maintaining this project.

[2018-01-25 16:59] brianium commented on #297
@paragonie-scott many thanks 😄

[2018-01-25 18:56] geggleto commented on #297
Will bring up with other Slim Maintainers

[2018-01-25 19:31] brianium commented on #297
@geggleto awesome! thank you for looking into it

[2018-01-26 10:56] julianseeger commented on #295
True. This is definitely not intended. I created the release as always via github ... something between packagist and github must have changed since 1.0.1 (2 Jul 2017).

Unfortunately I have no access to paratest in packagist or the integration settings at github so I can't investigate or at least manually upload the release to packagist. @brianium needs to fix this ... or a new maintainer :/

[2018-01-26 11:05] julianseeger commented on #286
Well this can't be done solely by paratest I think. As the speedtrap prints out the info directly, those outputs are only generated at paratests subprocesses. Even if paratest would collect that output and print it on the main process (the one that generates the cli output you finally see) it would be pretty messy like

etc. pp.

I would suggest subclassing the SpeedTrapListener and overwriting th

[2018-01-26 22:07] michaelgv commented on #297
@brianium I’m willing to take on maintaining, my business which focuses on PHP entirely, we use this on a daily basis. We’d be happy to take it over and dedicate myself to actively maintaining it full time. Let me know :)

[2018-01-26 22:17] michaelbutler commented on #297
My thoughts, if I had a choice I'd prefer to give rights & responsibilities to someone/those who have contributed to paratest and know a bit about the internals and clean code.

[2018-01-27 14:39] brianium commented on #297
Agreed :) - Mainly I want to keep this project healthy for the people that benefit from it. If someone has experience contributing to ParaTest, that would be a definite plus, but someone with time and energy is valuable too :) Maybe we leave the issue open for another week or so and have a conversation then?

[2018-01-28 03:52] andreasschroth commented on #297
I agree with @michaelbutler , usually that's a good choice for an OS project.

But if none of the current maintainers is interested in spending more time on it, it might also be good to pass the project on to someone else.

I'm CTO myself and on the backend, we focus mainly on PHP. If you might be interested in passing the project over to us, please let me know, we could dedicate some time from ou

[2018-01-30 13:12] brianium commented on #297
Just a heads up to anyone interested here - I have an internal note to check back here on Feb 1. Just so no one thinks this is getting lost or forgotten 😄

[2018-01-30 19:01] bradhanebury commented on #297
@brianium I'm the CTO that @geggleto mentioned earlier. We really like this project and when @geggleto mentioned to me that it was looking for a new maintainer, it seemed like a good fit. We'd be happy to bring it into the Mobials organization and offer it the dedicated resources that it deserves.

[2018-01-31 13:06] brianium commented on #297
@bradhanebury that is great news! I'd like to wait until the end of the day tomorrow to see if anyone else has input/hopes/concerns for the project. Thanks again!

[2018-01-31 15:41] michaelbutler commented on #297
@bradhanebury Could you provide a list of public repos where you use paratest (e.g. in the composer.json file)?

[2018-01-31 19:49] bradhanebury commented on #297
@michaelbutler unfortunately, all of our repositories are private. We are not allowed to open any of them up to the public.

[2018-02-01 20:26] brianium commented on #297
Just checking in to see what we are all thinking. I am pretty drawn to the notion of dedicated support from an organization, but I understand reservations about lack of contributions or open source examples.

At this point - I think an expressed desire/commitment to maintain ParaTest is preferable to the open source pedigree if no one with said pedigree is able.

@paragonie-scott I don't think I h

[2018-02-02 01:22] julianseeger commented on #297
Hard decision. Maybe a hybrid approach might be possible? If the project stays in some unrelated namespace (like paratest/paratest) but said company / companies are added as maintainers, then everybody should benefit from it.
If it works, then the company get's credibility from that anyways and if it doesn't work then there is a dead maintainer on the collaborators list but the project doesn't hav

[2018-02-02 01:25] michaelgv commented on #297
If I may, why don’t a few of us team up and joint maintain it? There’s no hurt having multiple maintainers!

Thoughts everyone?

@julianseeger @bradhanebury @andreasschroth

[2018-02-02 01:29] julianseeger commented on #295
It's probably some issue with the composer.json. Looks like packagist has hardened it's constraints when validating it. I received some notification in another project that the license was not one from the spec, but for paratest, "MIT" looks good and I can't find any flaws. @brianium might have gotten some mail from packagist

[2018-02-02 06:24] andreasschroth commented on #297
Well, I think it's a very tough decision to make, as nobody here knows each other really.

The main thing why I replied here is that I'd be sad to see such a great project be gone. Especially in a time, where having automated tests is an absolute standard which everyone should follow and not only continuous integration, but also continuous deployment applied almost everywhere. Thus, at least for u

[2018-02-02 07:28] Potherca commented on #297
+1 for having a separate Paratest organization on github with multiple maintainers added.

[2018-02-02 09:48] julianseeger commented on #297
+1 (thats what I was trying to suggest ^^)
For slack we would need a sponsor I think. Maybe this works for now: https://discord.gg/5vYrQzX

[2018-02-02 13:30] brianium commented on #297
Ok sweet. I set up an organization a while ago and I have yet to do anything with it - https://github.com/paratestphp

Is anyone willing to make the switch?

I still haven't fully researched what moving a repo to an org means - especially with regards to composer. Would really love it if someone took this task over.

[2018-02-02 13:33] michaelgv commented on #297
@brianium I’m willing to make the switch, I’ve moved repos around before, typically it’s just a matter of updating composer config (git link), and then it should work.

[2018-02-02 13:48] andreasschroth commented on #297
Thanks for creating the Discord @julianseeger, I just joined.

[2018-02-02 14:24] bradhanebury commented on #297
:+1 this sounds good to us as well.

[2018-02-02 15:53] michaelbutler commented on #297
I think moving to `paratestphp` organization would be great. :)

[2018-02-02 17:06] julianseeger commented on #297
@brianium move instructions are here: https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/
If you have time, you might wan't to join us at discord. 5 people have already joined

[2018-02-02 21:25] brianium commented on #297
Alright - I'll give it a go transferring it to the org sometime this weekend. I'll get the interested maintainers here added as well 👍

[2018-02-05 17:44] redaxmedia opened #298 "Support for PHPUnit 7"
Please add support for PHPUnit 7. Thank you

[2018-02-05 23:11] brianium commented on #297
Ok - repo has been moved and invites sent. @michaelgv - if there is any work to be done in terms of making composer users path forward a happy one, can you take that work over?

I've invited everyone that I thought may be interested, if I invited you and you are not interested/able - then please ignore :)

I am a little uncertain how to hand over admin rites - should all the maintainers be given a

[2018-02-06 07:09] julianseeger commented on #297
All maintainers should also bei maintainers on packagist. (Packagist -> menu -> Username -> my packages -> paratest -> the Big plus to add maintainers).

[2018-02-06 14:12] brianium commented on #297
Alright - everyone has been added in packagist with the exception of @andreasschroth and @michaelbutler (usernames weren't the same as github username - if you have a different account let me know 😄 )

I added everyone to the former `brianium/paratest` in packagist, as it seems to understand that redirect. Not sure if there is work to be done here to finish the transfer.

Some immediate tasks look

[2018-02-06 14:15] geggleto commented on #297
Let's coordinate work on discord?

[2018-02-06 16:05] andreasschroth commented on #297
@brianium I just set up my Packagist account, same username as here.

[2018-02-07 11:16] michaelgv commented on #295
Fixed, it’s now available

[2018-02-07 11:16] #295 closed

[2018-02-07 11:18] michaelgv commented on #276
I believe this has been included in the latest 1.1.0 release, but I’ll double check

[2018-02-08 07:21] julianseeger opened #300 "Travis integration"
does not work since we moved to paratestphp/paratest

[2018-02-08 09:17] tomasfejfar commented on #179
This is what I'm looking for. Different test suites are independent, but tests withing testsuite needs to be sequantial, because they use shared resource.

[2018-02-08 09:18] tomasfejfar commented on #179
@celowsky https://github.com/ThomasDelteil/paratest/tree/parallel-suites

[2018-02-08 09:51] tomasfejfar commented on #179
Couldn't make it work though and not sure how to debug this :(

[code]

[2018-02-08 12:00] luispabon commented on #297
@brianium thank you so much for your hard work on paratest, and thank you also to whoever took it over 👍

[2018-02-08 12:22] luispabon commented on #297
I have a PR to make for PHPUnit 7, is https://github.com/paratestphp/paratest now the right place?

[2018-02-08 12:33] brianium commented on #297
@luispabon yes 👍 - I'm glad you have found this project useful 😄

I'm going to close this issue for now because it looks like we are moving forward 😄 If there is anything else I can do to facilitate the transition - please mention me in discord.

Thanks everyone!

[2018-02-08 12:33] #297 closed

[2018-02-09 02:50] andreasschroth opened #303 "Delete stale & merged branches"
I suggest that we delete stale & merged branches to keep the project clearer and so that only actively developed branches are kept.

Imo, after a PR got merged, we should directly delete the branch as well.

What do you think about it?

[2018-02-09 02:55] andreasschroth commented on #300
As far as I can see, it works now again and you fixed it already?

https://travis-ci.org/paratestphp/paratest

So I guess we can close this issue?

[2018-02-09 04:00] andreasschroth commented on #254
I close this issue now, as @brianium moved the repo now into the new organization: https://github.com/paratestphp

[2018-02-09 04:00] #254 closed

[2018-02-09 04:02] andreasschroth opened #304 "How to handle very old bug issues"
This question is regarding how we should handle very old bug issues. I saw some bug reports from 2014 and 2015 with no real activity or feedback going on.

My recommendation would be to check if we can verify the bug still in the latest version and if not, to close the issue. It can still be re-opened at a later time in case it's still existing.

What do you think about it?

[2018-02-09 09:15] julianseeger commented on #300
The badge in the readme needs to be fixed and I'm still not sure if the PR-Integration works (waiting for proof). But you may close this issue anyways as we'll handle it "internally" ^^

[2018-02-10 00:13] #276 closed

[2018-02-13 08:57] hugochinchilla commented on #103
I'm also affected by this

[2018-02-14 14:51] erusso87 opened #305 "[Question] How to perform better with Paratest?"
Hello, I have a question:
Why is slower to user the paratest extension instead of phpunit ?

I have 1049 unit tests and.... Look this 4 differents executions:

# Paratest:
[code]
[code]
[code]

# PHPUnit
[code]

[2018-02-14 17:29] michaelgv commented on #304
I think we should investigate all old issues, any valid remaining we should create newer issues, and properly track them accordingly.

[2018-02-14 21:00] julianseeger commented on #305
You should take a look at the "optimizing speed" section of the readme.

About 1000 tests in 7s means 7ms per test. Paratest with the default config will spawn 1 process per Testcase which is 1000 process spawns in the worst case.
Spawning a process is a pretty expensive task for the OS and may take far more than a ms, thus adding the 21s to your testrun with "-p1".

Paratest performs best for slo

[2018-02-14 21:29] ThomasDelteil commented on #179
Sorry I haven't been working on that the last 3 years and I stopped working on `php` feel free to close. @tomasfejfar sorry I won't be able to assist you with that

[2018-02-15 10:36] #305 closed

[2018-02-17 03:49] Netmosfera opened #306 "Could not run it on windows. Log file C:\...\PT_61A9.tmp is empty."
However, I changed `\Runners\PHPUnit\Options::phpunit()` to:

[code]

.and worked like a charm (using phpdbg). Not sure what's that .bat file. I've never used it. I'm not sure if this report helps, but I'm willing to help determining the problem with some pointers.

Thank you in advance. The speed is really impressive...

[2018-02-17 06:22] Netmosfera commented on #306
also tested with plain php, and xdebug.
again, not sure why that bat is there (phpunit's), since php on windows can run /vendor/phpunit/phpunit/phpunit just fine

[2018-02-18 16:44] andreasschroth commented on #303
Would be great to hear what other people think about my suggestion?

[2018-02-18 16:46] geggleto commented on #303
deleting merged branches 👍
stale branches, depends. If it fails too far back then yeah.

[2018-02-18 16:47] geggleto commented on #303
Ideally we would not commit directly to the repo, instead fork and then open a cross-repo PR then we wouldn't need to deal with it at all! :)

[2018-02-18 16:48] andreasschroth commented on #303
@geggleto Regarding forks and cross-repo PRs: True, I'd like that as well.

[2018-02-28 13:07] #231 closed

[2018-02-28 13:14] michaelgv commented on #300
pretty sure we've fixed this now? @julianseeger @andreasschroth

[2018-02-28 19:31] Netmosfera commented on #306
Actually, the above works only for phpdbg. I'm sure I got it working with xdebug, but that doesn't seem to be the correct way

[2018-03-09 00:42] #300 closed

[2018-03-09 03:42] andreasschroth commented on #300
Yes, it's fixed, thanks for closing.

[2018-03-13 08:43] KarimGeiger opened #310 "paratest hangs indefinitely in some cases"
Hi there,

first up: Thanks for devoting so much time into parallelizing PHPUnit. It's saved us much time during deployments and we wouldn't want to miss it.

Sadly, we're experiencing some non-reproducible issues during some runs of paratest in which the process just hangs indefinitely after the last test. We tried debugging it using strace and found that it keeps looping through a `select()` sys

[2018-03-13 14:25] michaelbutler commented on #310
Thanks for this report! I also ran into some issues with using WrapperRunner where it would hang, so I think your findings are correct... WrapperRunner needs some work to have better handling of child processes especially in this case. As a workaround you can use the regular runner for now... though the performance benefits won't be as great since it has to spin up a new process for each test file

[2018-03-13 15:54] ejunker commented on #298
@michaelgv thanks for adding PHPUnit 7 support! When will a tagged version that supports PHPUnit 7 be available?

[2018-03-15 06:48] KarimGeiger commented on #310
Hi @michaelbutler,

thanks for the quick reply, really appreciated! We've now switched to the regular runner and haven't had any problems as of now, so that seems to work.

We were thinking about - if we can find the time - implementing an sqlite runner which acts more like a job queue. The idea was that the runner spawns workers and these workers proactively pick outstanding jobs from the sqlite

[2018-03-15 21:15] michaelbutler commented on #310
@KarimGeiger I like that option... having an SQLite runner that first parses all the test info and then inserts into a queue, then spins up parallel processes that can read off that queue (as long as atomic transactions are guaranteed) would be a nice feature to have. As they're processing tasks, if the query returns 0 results (meaning queue is empty), they could then exit. or alternately wait a f

[2018-03-17 11:20] redaxmedia commented on #298
You could use `"brianium/paratest": "dev-master"` or `"brianium/paratest": "dev-master#ef38add65995abb5b0799617efdba558c437f1d2"`for the moment.

[2018-03-19 07:28] KarimGeiger commented on #310
It seems so, yes. It might not be perfectly fast, but it's worth testing, I think:
http://www.sqlite.org/faq.html#q5

We'll go ahead and try implementing it. We'll let you know if anything interesting happens.

Thanks again for your support!

[2018-03-27 07:10] JiangYuf opened #312 "[RuntimeException]Log file /private/var/folders/p9/flwyfctj26s3t0hvh6vxqf3w0000gn/T/PT_KJvaCG is empty."
➜  php vendor/bin/paratest --phpunit vendor/phpunit/phpunit/phpunit

Running phpunit in 5 processes with vendor/phpunit/phpunit/phpunit

Configuration read from /Users/jiangyufeng/work/xingse/release/server/php/phpunit.xml

  [RuntimeException]
  Log file /private/var/folders/p9/flwyfctj26s3t0hvh6vxqf3w0000gn/T/PT_KJvaCG is empty. This mean
  s a PHPUnit process has crashed.
  The process: 'vendor

[2018-03-27 12:08] Achse commented on #282
Do anyone know some workaround around this? Its really hard to chase the warning down if you have really huge test-set that you are notable run in PHP Unit due to memoory requirements.

[2018-03-27 12:26] michaelbutler commented on #282
I'm pretty sure this was fixed in later versions of paratest and phpunit. But if you're not able to upgrade (I highly recommend you do if you can), you can solve this by adding a simple test listener class and add it in phpunit.xml. on the test listener you can throw an exception on test warning, this way you will get a stack trace.

Test listeners can also be used to debug unknown failure issues,

[2018-03-27 13:09] Achse commented on #282
I am on version `1.1.0` of paratest and `6.5.7` phpunit. Do you suggest to move on `7`?

[2018-03-27 13:25] Achse commented on #282
Thanks a lot for that listener hint, trying it now :)

[2018-03-27 13:39] michaelbutler commented on #282
1.1.0 and 6.5.7 should be fine

[2018-03-27 14:33] Achse commented on #282
Here is a listener I use if anyone else got into same trouble as I did.
[code]

[2018-03-29 13:40] #310 closed

[2018-04-12 09:47] andreasschroth commented on #303
I cleaned up with the branches. All merged ones deleted.

[2018-04-12 09:47] #303 closed

[2018-04-12 14:24] michaelbutler commented on #278
@celowsky there was a bug in Xdebug that was fixed (I experienced it myself)... could you double check your Xdebug version (`php -v`) and report back? Upgrade to Xdebug 2.6.0 and see if the issue is fixed.

[2018-04-15 11:32] Gert-dev opened #314 "Excluded groups still appear to be run by default in paratest (different from PHPUnit behavior)"
Paratest appears to not (completely?) ignore groups excluded by default in the `phpunit.xml` file. I found #180 related to this, but it appears to have been fixed, so this may be a regression or unrelated.

My `phpunit.xml` contains the following:

[code]

Yet, when running paratest, at the end it claims that five tests - which is the amount of tests in the performance suite - were skipped. Strang

[2018-04-19 07:57] maxgorovenko opened #315 "Bump version for phpunit ^7.0 become compatible"
Compatibility is already in master branch, so could you please make new release, to become this changes usable?

[2018-04-19 08:03] alexkvak commented on #315
+1

[2018-04-24 07:02] jetexe commented on #315
ping @andreasschroth

[2018-04-24 07:15] andreasschroth commented on #315
@michaelbutler What is your opinion on that?

[2018-04-24 11:30] michaelbutler commented on #315
That means we'll have to maintain different branches (one for phpunit 7, other for phpunit 6.5) correct? Or just update new features for phpunit 7 and essentially freeze older branch. Does that sound correct?

[2018-04-24 11:34] maxgorovenko commented on #315
@michaelbutler you already have `"phpunit/phpunit": "^7.0"` in master branch. We need just a release to have ability to use it in our projects

[2018-04-27 05:43] andreasschroth commented on #315
Hmm, imo, I'd just freeze old branch, not support it anymore with new features and just bump version of `paratest` to new major.

[2018-04-28 18:05] michaelgv commented on #315
I think it’s time we just support the newer branch, and only provide minor releases as necessary for older branches

[2018-04-29 01:10] andreasschroth commented on #315
Yeah, I agree, that's what I also meant...

[2018-05-03 07:37] buffcode opened #316 "Always returns exit code 1"
We currently have the problem that paratest runs successfully (in terms of tests passed), but always returns exit code 1.

ParaTest v1.1.0 with PHP 7.1.13

[code]

This happens regardless of coverage options/filters/runners/functional mode and breaks our CI, as all tests will fail with exit code 1.

phpunit.xml.dist:
[code]

[2018-05-03 07:42] buffcode commented on #316
Sorry, seems to be related to some config change of PHPUnit, some deprecations came up and triggered exit code 1.

[2018-05-03 07:42] #316 closed

[2018-05-07 06:56] jstolp opened #317 "Enable debugging or timeout"
Hello,

First of all... I <3 the lib! great work.
Is there any way in order to log the current test/worker failing, we are getting some deadlock on the database (good so we know and can fix it) but it's hard to identify which test is currently locking the db.

Can i enable some debugging or timeout via PHPUnit or the WrapperRunner config.

Do you have other tips, or things i could't try... Else it

[2018-05-07 11:33] michaelbutler commented on #317
Yes you may implement a test listener which logs to a file, you can log on start and stop and then find which never log for stop. Using xdebug could be tough with so many processes happening in parallel.

[2018-05-07 11:50] jstolp commented on #317
@michaelbutler thanks man, i was on the same idea, just checking. If i have something valuable or prod-ish ready i'll share it. (Also for future references this topic could be handy)

[2018-05-08 13:10] jstolp commented on #315
@maxgorovenko i'm currently using "dev-master" in my project with PHPUnit 7.x

[2018-05-11 04:16] andreasschroth commented on #315
@michaelbutler @michaelgv Do you both agree that we should tag a new version? If yes, let's just do it, so devs can take advantage of PhpUnit 7.x support. ;) Having people rely on `dev-master`, imo, is nothing we should aim for.

[2018-05-11 16:42] michaelbutler commented on #315
@andreasschroth are you familiar with doing that? I haven't updated Packagist yet but can research it tonight if needed

[2018-05-12 02:40] andreasschroth commented on #315
Done, v2 released & updated on Packagist.

[2018-05-12 02:40] #315 closed

[2018-05-12 06:33] andreasschroth commented on #312
Could you please provide us with more information about this, e.g. with the `DummyTest.php` file?

[2018-05-12 06:34] #304 closed

[2018-05-12 06:35] andreasschroth commented on #273
I'm closing this now. Please feel free to reopen if this still happens with the latest Paratest version 2 and PHPUnit 7. Thank you for your understanding.

[2018-05-12 06:38] andreasschroth commented on #235
I'm closing this now. Please feel free to reopen if this still happens with the latest Paratest version 2 and PHPUnit 7. Thank you for your understanding.

[2018-05-12 06:39] andreasschroth commented on #206
I'm closing this now. Without a concrete script to reproduce the problem, I doubt it can be fixed. Please everyone feel free to reopen if you have further information about this, thank you.

[2018-05-12 06:39] #206 closed

[2018-05-12 06:41] andreasschroth commented on #159
Imo, this is expected behaviour, as the error message already clearly states.

[2018-05-12 06:41] #159 closed

[2018-05-12 06:42] andreasschroth commented on #125
As it seems to be fixed, I'm closing this issue now. Please feel free to reopen.

[2018-05-12 06:42] #125 closed

[2018-05-12 07:35] jstolp commented on #315
Thanks guys

[2018-05-12 10:11] andreasschroth commented on #278
I'll close this issue now. @celowsky Please feel free to reopen the issue in case the problem still occurs.

[2018-05-12 10:11] #278 closed

[2018-05-12 10:15] andreasschroth commented on #95
I close this now, as this problem seems to be fixed. Please feel free to reopen if necessary.

[2018-05-12 10:15] #95 closed

[2018-05-30 17:51] michaelbutler opened #319 "Memory/Performance Optimizations when running Magento Test Suite"
Opening an issue for myself to work on. There may be some performance enhancement opportunities, I found while debugging a run of the [Magento2](https://github.com/magento/magento2) test suite -- it's a pretty large suite that takes over 2 minutes to run in normal PHPUnit, so it's a good thing to test paratest against.

SuiteLoader (https://github.com/paratestphp/paratest/blob/master/src/Runners/P

[2018-05-30 18:49] michaelbutler commented on #312
Please implement a test listener so you can record what is happening. If your code contains exit statements, paratest currently has no way to know what happened or how it arrived at that exit statement... the process simply exits.

[2018-05-30 18:52] michaelbutler commented on #286
We can potentially have the option to dump all output to a report file, such as build/final_report.txt which simply reports the complete output of every sub process run (might be huge indeed, but could help debug things). To save on memory the parent process could stream the information to this report file instead of buffering in memory.

[2018-05-30 18:53] michaelbutler opened #320 "Paratest fails in Travis builds"
Looks like something with the Travis git version changed, causing this parse to fail... actually not sure why we even need to parse the git version, git might not even be installed on the machine which is running unit tests. In any case, should be really easy to fix.

https://travis-ci.org/paratestphp/paratest/jobs/383424920

[2018-05-30 19:07] michaelbutler opened #321 "Add paratest log option"
For aesthetics, paratest prints nice progress information (`.`, `E`, `W`, `R`, etc) when running, but the downside is any other output from sub-processes is not shown.
I think it would help developers to have an output log option for paratest to dump all output of every sub-process. It could potentially catch issues and also allow ability to see the SpeedTrapListener output.

For those using jenki

[2018-05-31 01:43] Gasol commented on #176
@brianium Could you please upload the phar to github when release?

The Phar file is very useful when root project has some dependency conflict with paratest, for example 'symfony/console'.

[2018-05-31 01:57] michaelbutler commented on #176
Yes we can look into this again. Note brianium doesn't work on the project any longer.

[2018-06-01 08:08] andreasschroth commented on #286
I think that's a very good idea for debugging purposes.

[2018-06-01 08:59] #320 closed

[2018-06-01 09:17] mmeuser opened #324 "paratest does not work in its own project by default"
We have a problem running paratest. It aborts without running phpunit at all:

[code]

It seems as if paratest passes the phpunit.bat File to the php.exe process. I guess the default phpunit binary causes the problem. Running the tests with the command `--phpunit vendor/phpunit/phpunit/phpunit` works fine.

[2018-06-01 11:42] mmeuser commented on #324
here is the log from the running but broken paratest on the project itself:

[code]

[2018-06-01 14:15] michaelbutler commented on #324
To be honest, I'm not sure if any of the Paratest contributors have used it on Windows, so it's probably out of date now. We might want to drop Windows support altogether; isn't it possible now to install a POSIX compatible Ubuntu on Windows?
Ideally we want to optimize running unit tests on a GNU/Linux based environment, e.g. Travis-Ci or Circle CI, since that's typically what they run. Even if w

[2018-06-03 11:16] andreasschroth commented on #324
Well, best thing would probably be a small docker container.

I don't use Windows either, but thank you for making us aware of the issue!

[2018-06-04 06:41] mmeuser commented on #324
I agree, a docker container for running paratest sounds like a good solution.

I wouldn't recommend dropping windows support. Maybe we can provide a PR.

[2018-06-04 06:57] mmeuser commented on #324
just discovered we had the same issue with our docker build container running paratest in a unix environment:

[code]

we fixed this by adding --phpunit argument to point directly to the phpunit php runner script.

[2018-06-21 22:11] glassdimly commented on #280
I had this same problem running through composer with xdebug.

I ran `composer test` which ran the script.

Turn off xdebug, works great. Turn on xdebug, trigger problem.

Oh, and here's the fun part. If I hit a breakpoint before the `PHPUnit\TextUI\Command::main();` and evaluate `class_exists('PHPUnit\TextUI\Command')` it returns true. Then, *that* class *is* found but the *next* phpunit class is

[2018-06-22 13:48] glassdimly commented on #280
For anyone that finds this through Google, I had this problem with xdebug. I rebooted my computer, and the problem fixed itself.

[2018-07-15 12:31] ahmedsamirtaj opened #329 "No info about risk tests"
if I have a risk test I just go that I have ones but I have no details about it like phpunit

[2018-07-16 09:49] vitalyiegorov opened #330 "Symfony functional testing"
Hi @andreasschroth,

I am trying to use paratest for our API functional tests but got:
[code]

Can you please help me with this issue? I believe problem is related to booting kernel/container because with simple `vendor/bin/phpunit` our 400+ tests are green.

[2018-07-17 12:51] vitalyiegorov commented on #330
Further investigation is showing that parapets somehow avoids symfony .env loading, thats is why its not seeing `test.client` as it does not uses `<php> <env ...` section from `phpunit.xml` which is setting environment variables.

[2018-07-24 10:27] Petah opened #332 "Failing to run due to "This means a PHPUnit process has crashed""
I have a similar issue to #158, it seems that trying to run paratest fails, but slightly changing whats called (`vendor\bin\phpunit.bat` to `vendor\phpunit\phpunit\phpunit`) works fine:

[code]

This works fine:

[code]

[2018-08-02 11:16] jmalinens commented on #212
+1

[2018-08-02 11:16] latvianization commented on #212
+1

[2018-08-08 19:06] wimpog commented on #330
@vitalyiegorov could you please explain how to fix it? I'm having the same issue.

[2018-08-09 09:49] vitalyiegorov commented on #330
@wimpog I have added my own `bin/paratest`:
[code]
and added it to my symfony bin folder.

[2018-08-09 11:02] rcwsr commented on #314
Not sure if it's the same issue, but using `--exclude-group` option doesn't seem to exclude the tests from being ran.

[2018-08-14 21:57] johnnybenson commented on #330
It looks like this commit https://github.com/paratestphp/paratest/commit/0c48af96fd9a5fe36dd5f14282ac5dc5939f109c has resolved this issue with Symfony + ENV

Try upgrading to 1.1.0!

[2018-08-23 23:08] cs278 opened #334 "Environment variables not being passed to child processes"
I have a custom wrapper around PHP which allows me to select different versions and enable xdebug using environment variables, problem is these variables do not reach the child processes paratest creates. This seems to be caused by Symfony modifying `$_ENV` when `variables_order` does not include `E`, basically: https://github.com/brianium/habitat/issues/2

However now paratest requires PHP ≥ 7.1

[2018-09-07 10:18] willemstuursma commented on #282
I am still having this issue with the latest paratest and phpunit 7.3

[code]
There were 2 warnings:

1) Warning
The data provider specified for zzzTest:xxx is invalid.
...
2) Warning
The data provider specified for zzzTest::yyy is invalid.
...
[code]

[2018-09-20 08:19] bhoehl commented on #306
I have had the same issue and debugged it.
It has to do with environment settings for the spawned process executed.
I my case it couldn´t simply find the php.exe anymore and there are other issues, too.
The fix for this is to modify the way processes are created in
src\ParaTest\Runners\PHPUnit\ExecutableTest.php line 181
 function run($binary ...
* $this->process = new Process($command);
* $this->

[2018-09-24 10:17] #176 closed

[2018-09-24 10:29] #103 closed

[2018-09-24 10:35] andreasschroth commented on #334
I'm not sure I understand your suggestion correctly. how should `getenv()` fix the underlying problem?

Could you please create a PR for it?

[2018-09-24 10:36] andreasschroth commented on #332
Well, we have a PR open for that, I just don't really understand the underlying problem - any ideas here?

[2018-09-24 10:40] andreasschroth commented on #330
I believe, this should be fixed by PR #318, which just got merged.

[2018-09-24 10:40] #330 closed

[2018-09-24 10:48] andreasschroth commented on #332
I just merged PR #327 , this should fix the problem.

[2018-09-24 10:48] #332 closed

[2018-09-24 10:52] andreasschroth commented on #284
I'm going to close this now, as I can't see a good use-case for this. As you said, there was another problem with your tests randomly failing.

If someone has a good use-case for this, please feel free to re-open and / or submit a PR.

[2018-09-24 10:52] #284 closed

[2018-09-24 10:53] andreasschroth commented on #306
Please check if the problem still occurs on master, it might be fixed by now.

[2018-09-25 12:04] pana1990 commented on #306
@andreasschroth it is not work for me yet :(

[2018-09-25 12:20] bhoehl commented on #306
@andreasschroth
I can not confirm this, as I have to use version <= 2 ( phpunit 5 )
this version does not have these changes

[2018-09-25 12:37] pana1990 commented on #306
@bhoehl I am using :

SO : windows 7
phpunit: 7.2
paratest:  dev-master

[2018-09-25 13:11] Nemo64 opened #337 "default number of processes should depend on system"
Currently the number of processes spawned is simply 5. While this is better than 1 and it is an ok default, I think it could be better.

The default should depend on the number of logical cores on the system. I know that it isn't the easiest thing to detect but [there are libraries for that](https://packagist.org/packages/wyrihaximus/cpu-core-detector) and it could always fallback to 5.

If it can

[2018-09-25 13:40] andreasschroth commented on #337
Thanks, but there is always a PR open for that: #336

Just the tests are not adjusted yet in the PR, but otherwise the PR is going to be merged.

[2018-09-25 13:40] #337 closed

[2018-09-25 13:43] andreasschroth commented on #306
@bhoehl Thanks for your feedback, but you must use `dev-master`... Could you please create a PR with the changes you applied locally and said it works with you?

@pana1990 Okay, thanks for your feedback. Not good, thought this might be fixed with the merged PR. Did you apply the changes locally @bhoehl proposed a few comments before? Did it fix the problem?

[2018-09-25 15:52] Nemo64 commented on #337
Ohh, i only searched for issues, my bad 😅

[2018-09-26 06:59] pana1990 commented on #306
@andreasschroth  yes i did apply but it is not working :(

[2018-09-26 15:13] andreasschroth opened #339 "New Releases"
My question to all collaborators and contributors would be, when should we release new versions? Whenever we feel like there are enough changes?

If yes, I would say after PR #336 gets merged, we should release a new version. v2.1?

What are your thoughts? @michaelbutler @michaelgv

[2018-09-26 20:58] michaelgv commented on #339
Agreed, when necessary at our discretion, or in the event of a significant change. It may be worth a “next” stream to be released with all PRs merger, after N next builds we do a minor or major update?

[2018-09-27 09:54] andreasschroth commented on #339
@michaelgv You mean a `next` branch? Hmm, I think `master` should always be the branch where new PRs and developments are merged into, as this is usually in most projects this way. Could you please describe the exact workflow you suggest?

[2018-10-05 13:08] N3XT0R opened #340 "php constants and etc."
Hello Guys,
when testing with phpunit.xml it seems there is a difference between the normal running of phpunit tests and with paratest.

I have in my project some environement vars and globals that i define in the phpunit.xml for testing reasons like database credentials and etc inside the <php> blog of the configuration:

`
    <php>

        <var name="DB_UNITTEST_USER" value="root"/>
        <v

[2018-10-05 17:51] andreasschroth commented on #340
I understand, but unfortunately, we're not going to support the old branch anymore, sorry.

If you need to fix this, please try cherry-picking the commit from this PR: https://github.com/paratestphp/paratest/pull/318

[2018-10-07 15:27] #334 closed

[2018-10-08 09:30] #340 closed

[2018-10-09 13:40] willemstuursma commented on #293
This would be great, then we can finally have pretty colors in Bitbucket pipelines.

[2018-10-09 17:56] andreasschroth commented on #339
Alright, I just tagged version 2.1. Now we have a .phar as well. 😄

[2018-10-18 19:47] redaxmedia opened #343 "Semantic Versioning"
Why did you drop semantic versioning by using 2.x over 2.x.x?

[2018-10-18 22:14] andreasschroth commented on #343
Why do you think we don't follow Semver?

https://semver.org

[2018-10-19 10:13] refucktor opened #344 "Coverage reports are different from PHPUnit"
#### The test results from running **paratest** differs from the report that **phpunit** generate.

- I have 2 **testsuites**: One for integration test, and another for unit tests.
- I run **paratest** like this: `./vendor/bin/paratest --configuration phpunit.xml --log-junit .phpunit/tests.xml`
- My integration test are using *in_memory* db, and from the configuration point of view everything is w

[2018-10-19 10:17] andreasschroth commented on #343
Thanks for your feedback. We will tag future versions with patch version `.0` then, but rest assured that the project follows semver - if there are breaking changes, we will release a new major version and if new features are added, the minor version is added. Bugfixes get the patch version increased.

[2018-10-19 16:50] andreasschroth commented on #339
I'll close this issue now.

[2018-10-19 16:50] #339 closed

[2018-10-19 19:38] redaxmedia commented on #343
Thank you for explanation - keep on the good work.

[2018-10-23 08:55] refucktor commented on #344
After some struggling I found out that there is actually no problem with the library generating the reports:
1. I run the `paratest` with the options to make the reports directly in the command line
[code]
2. After checking the results you can see that these reports are matching the reports from the `phpunit` reports
3. As a final conclusion the **REAL ISSUE** in this case, is that `paratest` is n

[2018-10-23 12:23] Weysan opened #346 "Coverage does not report error for missing whitelist"
I was running test and trying the coverage test option. But always get a error thrown:
`Coverage file /tmp/CV_hI2eug is empty. This means a PHPUnit process has crashed.`

After few iteration of debugging, trying different configuration, etc, I had to try running phpunit directly and getting the error that I don't have whitelist configured.

That would be great to have better described errors to at

[2018-11-15 15:55] kindundtraum opened #347 "Run several testsuites"
Here is the definition of testsuites in my phpunit.xml:

<?xml version="1.0" encoding="UTF-8"?>

    <testsuites>
        <testsuite name="cdc">
            <directory>tests/cdc/</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>tests/unit/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/integration/</direct

[2018-11-20 11:57] bendavies opened #348 "Bootstrap loaded before php settings are processed"
Given a `phpunit.xml` like this:

[code]

PHPUnit will process the `<php>` block first, i.e set the `APP_ENV` env var, and then run `bootstrap.php`.

Paratest does the opposite: runs `bootstrap.php` then set the `APP_ENV` env var.

This means that if the bootstrap relies in `APP_ENV`, `phpunit` will work, while `paratest` will not.

[2018-11-21 07:44] filkaris commented on #282
^ Same issue

[2018-12-01 06:35] BHSPitMonkey opened #352 "JUnit addSystemOut fails with warning when TestCase has multiple failures or errors"
The following function attempts to process `<system-out>` from JUnit XML nodes produced by PHPUnit:

https://github.com/paratestphp/paratest/blob/87aa787eaf2f3d2d3baad14af50d18e277a56f6f/src/Logging/JUnit/TestCase.php#L129-L149

If the test case being processed contains more than one `<failure>` (or `<error>`), Paratest will throw out an ugly warning and stack trace during execution:

[code]

Addi

[2018-12-13 18:46] jshayes opened #353 "Fatal errors return an exit status of 0"
It seems that when there is a fatal error and the worker crashes, it has an exit status of 0. Here is an abbreviation of what I'm experiencing.
[code]
As you can see, when I run the testsuite in paratest the exit status is 0, however when I run in phpunit the exit status is 255. The issue that I am having with this is that since the exit status is 0 my travis build is passing when the tests are cl

[2019-01-03 07:44] chq81 commented on #282
^ Same issue here

[2019-01-04 13:35] jmalinens opened #354 "better phpdbg support (pass config options to php)"
Relates to #277

paratest ignores -dmemory_limit=5G when running paratest like this

[code]

What happens is that phpdbg is running this and -d options are skipped:

[code]

Hacky way to accomplish this is to prepend '-dmemory_limit=5G' to `Runners/PHPUnit/ExecutableTest::getCommandString()` methods return value

phpdbg support is important for us because with xdebug coverage report is generated i

[2019-01-09 08:31] vpratfr opened #355 "[Question / Docs] PHPStorm + vagrant + paratest"
Hi,

I am trying to get paratest to run remotely from PHPStorm on the Vagrant VM.

I got paratest configured to run locally as an external tool, but I don't find a way to execute this remotely.

Has anyone got this setup running?

[2019-01-09 08:43] #355 closed

[2019-01-09 08:44] vpratfr commented on #355
Got this setup with Remote external tools. I had missed that option.

However, with current PHPStorm setup I have a slightly longer execution time running paratest than with phpunit. Don't know why :/

[2019-01-10 01:10] edbizarro opened #356 "Error passing coverage-text with --runner SqliteRunner"
[code]

Without ` --runner SqliteRunner` everything works fine

[2019-01-11 10:29] mkarnicki opened #357 "Corresponding phpunit.xml argument for --runner?"
Is there a configuration I could set in phpunit.xml instead of passing --runner WrapperRunner to paratest manually? Thank you, amazing project!

[2019-01-15 12:05] CocoJr commented on #316
Sorry to re-open that, but did you find a solution for that ?
Without the good status code, we can't use it in CI :/

[2019-01-15 14:04] buffcode commented on #316
If I remember correctly this issue arised when we ran paratest with a Symfony project.
By default the deprecation notices are enabled which will result in a non-zero exit code.

To disable those just add:
[code]
to your phpunit.xml (source: https://stackoverflow.com/a/39346622/740183)

[2019-01-15 15:15] CocoJr commented on #316
Working perfectly. Thx.

[2019-01-21 16:26] clovenlife opened #358 "Dusk Support"
Tried running this with our suite which has a large number of Dusk tests and while some did manage to pass, a lot return the following error
`Facebook\WebDriver\Exception\NoSuchDriverException: no such session
  (Driver info: chromedriver=2.35.528157 (4429ca2590d6988c0745c24c8858745aaaec01ef),platform=Mac OS X 10.13.6 x86_64)`

I think multiple instances of chromium might be the issue. Maybe being

[2019-01-21 21:41] clovenlife commented on #358
After installing the dev-master branch, I found the parallel-suite option allows the dusk tests to run fine. But splitting the remaining tests into suites arbitrarily is not the best experience for my team.

[2019-01-22 01:11] SerafimArts commented on #306
I have a same error for *nix environment: https://travis-ci.org/railt/railt/jobs/482650052 =(

[2019-01-23 10:35] paslandau commented on #347
Just ran into the same problem. Multiple testuites separated by "," are supported by phpunit since 6.0.0 (see https://github.com/sebastianbergmann/phpunit/commit/80754cf323fe96003a2567f5e57404fddecff3bf ) so I'd argue that is a reasonable assumption for a paratest user to get the same behavior.

Had a quick look through the corresponding code and the change itself seems rather easy:
- `ParaTest\Ru

[2019-01-23 12:12] paslandau commented on #347
Do you have any crontibution guidelines (e.g. easy way to run the tests, run the style check, ...)?

Didn't see a CONTRIBUTING.md, `composer run-script -l` is empty and I don't see a Makefile (or the likes) - so I would now stick to your `.travis.yml` install targets?

[2019-01-23 15:18] andreasschroth commented on #347
@paslandau Me and a few others were volunteering as maintainers for this project and the original maintainer left / is not interested in this anymore. So yes, I would say you can ignore this for now and still submit a PR.

[2019-01-23 17:46] paslandau commented on #347
@andreasschroth kk, thx for getting back - will prepare something tomorrow.

Btw. didn't want to come off "demanding", sorry if my last comment gave that impression.

Thx for maintaining :)

[2019-01-24 11:06] paslandau commented on #347
FYI: Tests failed because `pdo_sqlite` extension was missing on my system. I added `markTestSkipped`for those tests if the extension is missing.

Without extenstion
[code]

With extension
[code]

[2019-01-24 13:31] paslandau commented on #357
Since `phpunit.xml` comes from a different project, I don't think that this makes much sense (as it would couple phpunit to paratest).

A better solution would imho be to introduce a `paratest.xml` that acts as the default configuration for `paratest` and would let you configure default values for every option on `paratest`.

Thoughts?

[2019-01-24 18:08] paslandau opened #360 "Add --passthru and --passthru-php options"
I propose to add two options to `paratest`

[code]

## --passthru
Paratest has the inherent problem of being tightly couple to the underlying test framework (e.g. phpunit). Phpunit is under active development and gets reguarly new features, e.g. the `--prepend` option for better/faster code coverage generation (see https://thephp.cc/news/2019/01/faster-code-coverage ).

We would now need an explic

[2019-01-25 04:53] andreasschroth commented on #347
No worries, you didn't come off demanding at all - your questions were all absolutely legitimate!

Thank you a lot for the awesome PRs, I'll have a look at them.

[2019-01-25 04:54] andreasschroth commented on #357
@paslandau Yep, sounds reasonable to me, although I'm not absolutely sure if it wouldn't be overkill. Imo, it's pretty easy to pass the command line options and create an alias or small shell script, etc. for it.

[2019-01-25 08:04] andreasschroth commented on #347
Feature available thanks to @paslandau in PR #359 .

[2019-01-25 08:04] #347 closed

[2019-01-25 08:29] #357 closed, assigned to nobody

[2019-01-25 08:45] #360 closed

[2019-01-25 15:36] paslandau commented on #346
Hey @Weysan,
unfortuntately this is one of the "harder-to-change" parts of the codebase. For now, I added a better explanation of the general code coverage process under [docs/code-coverage.md](docs/code-coverage.md#troubleshooting) (when https://github.com/paratestphp/paratest/pull/362 gets merged).

I also added better debugging output via `--verbose=1` option. That wouldn't solve the whitelist-

[2019-01-25 15:46] paslandau commented on #212
https://github.com/paratestphp/paratest/pull/361 just got merged into master. Please check if you can use that as a "generic" workaround:

[code]
See docs/code-coverage.md for a more in-depth usage example.

[2019-01-25 15:48] paslandau commented on #179
Can this be closed after  #349 is merged?

[2019-01-25 15:49] paslandau commented on #66
@JoelMarcey

For

I added a `--verbose=1` option that will now output the underyling phpunit command.

[2019-01-25 18:40] paslandau commented on #321
@michaelbutler
I just prepared a PR https://github.com/paratestphp/paratest/pull/363 that creates a logfile per process in the tmp directory if the enovironment variable `PT_LOGGING_ENABLE` is set, e.g. via
[code]
Currently only for `--runner WrapperRunner` as I found those the hardest to debug. Since the inter-process-communication is kinda hard to understand I opted for the environment-variable

[2019-01-25 21:20] #179 closed

[2019-01-26 02:45] andreasschroth commented on #212
@paslandau is right, so I close this issue.

[2019-01-26 02:45] #212 closed

[2019-01-26 02:45] andreasschroth commented on #354
@paslandau is right, so I close this issue.

[2019-01-26 02:45] #354 closed

[2019-01-30 08:04] EmanueleMinotto opened #364 "Phar execution failure when a wrapper is used"
I'm trying to run the latest paratest phar (v2.2.0) with the option `--runner=WrapperRunner` but it fails with
[code]

This is due to the `realpath` in https://github.com/paratestphp/paratest/blob/2.2.0/src/Runners/PHPUnit/WrapperRunner.php#L50 that doesn't work in phars.
Also a solution like `--bootstrap=vendor/autoload.php` won't solve the problem because it's used after the check on runner clas

[2019-02-03 20:57] Tlapi opened #365 "Support for PHPunit 8"

[2019-02-03 21:30] Tlapi commented on #365
I have made some work here: https://github.com/paratestphp/paratest/pull/366

There are 3 functional tests failingm but I guess there won't be a problem for you ;-)

[2019-02-04 11:13] andreasschroth opened #367 "Idea: Synchronise paratest version numbers to phpunit version numbers"
What does everyone here think about synchronising the Paratest package version numbers to the ones of phpunit? E.g. v8 of Paratest will match to PHPUnit 8, etc.

Recently, there seems to be a lot of cleaning up going on within PhpUnit so I guess more breaking changes will come regarding the compatibility with Paratest. Any thoughts?

[2019-02-08 21:21] ChrisEdwards commented on #250
I need this feature, but for a very different reason. I would like faster feedback on failures when running in Jenkins.

We are using paratest to run our end-to-end functional tests. These tests each take a very long time to run. When paratest runs, it emits test results on the same line, adding a ., F, E, S, etc. to the line until it is full, then goes to the next line. The problem is that Jenkin

[2019-02-15 11:21] VincentClair commented on #235
Please re-open, as it seems the problem still exists:

[code]

If I run the phpunit alone, tests are reported as Risky as expected, and there is an R in results.

Here the commande line :
`vendor/bin/paratest --colors --phpunit="bin/phpunit"`

Tested with Phpunit 7.5 and last 8.0.
What I misconfigured ? How can I help ?

[2019-02-15 11:21] andreasschroth commented on #235
@VincentClair Thanks for the feedback, I reopen.

[2019-02-15 11:26] VincentClair opened #369 "Wrong number of tests"
When executing paratest, test number and percentage are wrong and the final line as no number.
Here a result set:

[code]

I suspected that it is due to many used providers.
Thanks for your help

[2019-02-15 15:58] VincentClair commented on #369
Just noticed, if I analysed correctly paratest code, results form each proc are analysed using regexp.

Is it interesting to replace it with something like a TestListener (--printer command option of phpunit) https://phpunit.readthedocs.io/en/8.0/extending-phpunit.html#extending-phpunit-examples-simpletestlistener-php ?

The idea is to open a socket/pipe (don't know the right word) by main parates

[2019-02-16 08:51] andreasschroth commented on #365
Thank you. I merged your PR right now and thus close this issue.

[2019-02-16 08:51] #365 closed

[2019-02-16 08:51] andreasschroth commented on #367
Any more feedback besides one upvote and one downvote?

[2019-02-16 12:49] michaelbutler commented on #367
I really think it's a good idea and we should do it!

[2019-02-17 09:32] Tlapi commented on #365
@Tlapi Thank you. And now, how to tag this?

[2019-02-17 09:36] andreasschroth commented on #365
@Tlapi I will tag a new version soon. :)

[2019-02-18 05:00] andreasschroth commented on #365
New release tagged as `3.0.0`. Thank you again.

[2019-02-18 05:21] andreasschroth commented on #367
Won't do for now, we'll keep a list in the `README.md` which PhpUnit version matches which Paratest version.

[2019-02-18 05:21] #367 closed

[2019-02-18 10:09] cuchac commented on #352
Hi, I'm experiencing the same error. Is there any workaround? I'm unable to switch to paratest. There seems to be no way how to detect where the problem comes from.

[2019-02-21 13:44] binarious commented on #316
@buffcode I noticed that deprecations aren't displayed when using paratest. Only when running plain phpunit. This made debugging failing tests in CI hard in. Is this intended or is there a way to display them?

[2019-02-25 13:43] crzdeveloper commented on #282
As a temporary solution. you can try to use the Paratest Logger https://github.com/paslandau/paratest/blob/wrapper-runner-log/docs/logging.md

[2019-02-25 14:43] crzdeveloper opened #377 "WrapperRunner: PHP session support"
## Problem
When I use the WrapperRunner in order to gather some logs, PHP can not initialize the session:

[code]
It seems the output is started in https://github.com/paratestphp/paratest/blob/master/bin/phpunit-wrapper#L2
## Info
[code]
## Investigation
If I comment out that line in the ```bin/phpunit-wrapper```, the ```WrapperRunner``` stucks here: https://github.com/paratestphp/paratest/blob/ma

[2019-02-25 16:28] michaelbutler commented on #377
I don't think we can support sessions in the same process; understandably you are working with legacy code, but that is too wild of an edge case to update paratest for everyone.

I think a solution for you could be to just enable [session autostart](http://php.net/manual/en/session.configuration.php#ini.session.auto-start) in your PHP ini that you use for unit tests? That way the session will be a

[2019-02-26 07:49] crzdeveloper commented on #377
It is fine for me even if this issue will be closed. Anyway we wanted to refactor legacy session stuff.

If I understand the logic correctly, the parent process waits for the child process till it outputs anything. As another solution, the parent process could mark the newly created child as "ready-to-accept-commands" immediately after the creation by adding them into the ```$this->modified``` col

[2019-02-28 12:27] EmanueleMinotto commented on #364
ping @andreasschroth

[2019-02-28 12:45] andreasschroth commented on #364
Sorry for late reply.

I have no spontaneous idea right now what to do about this, unfortunately. Will keep it open and hopefully come up with some solution.

[2019-03-04 11:13] datashaman commented on #286
I just wrote something like this which works for me:

[code]

[2019-03-06 09:30] abkiran opened #379 "Suite path ./tests/Unit could not be found"
[code]
How do I deal with this?
I'm using
phpunit = 7.5
paratest = 2.2
php = 7.2

[2019-03-06 09:39] #379 closed

[2019-03-21 14:11] willemstuursma commented on #282
We are willing to sponsor support for Warnings and Risky tests.

[2019-03-23 02:57] andreasschroth commented on #282
@willemstuursma Thank you for your generous offer. I gave this issue the label "most-upvotes" now (which basically means "often requested for"). I'll take a look at this once I have some more spare time.

[2019-03-23 10:23] willemstuursma commented on #282
@andreasschroth we can send you some Mollie swag or stuff from your Amazon wishlist instead, please contact me at willem@mollie.com.

[2019-03-28 17:59] BHSPitMonkey opened #381 "Feature request: Stop after N failures"
It would be great if `--stop-on-failure` could be extended to accept an arbitrary number of failures (rather than just stopping when the failure count has exceeded `1`).

We use paratest in a project with a very large number of tests which takes a bit of time to finish, and sometimes a build contains a catastrophic change that causes most or all the tests to fail to an extent that letting the buil

[2019-03-29 17:19] oliversarfas opened #382 "`.rnd` file created when running tests"
paratest: ^2.0

Running local tests (Laravel 5.8 framework).
Everytime i run them a `.rnd` file is produced in my project root directory.

[2019-04-03 12:21] oneumyvakin commented on #306
I've the same issue on Alpine Linux 3.9 stock PHP 7.2 with paratest and phpdbg.

[2019-04-13 11:57] TivoSoho opened #383 "Nvm"
Nvm

[2019-04-13 12:05] #383 closed

[2019-04-18 15:08] willemstuursma commented on #282
We are also having problems with errors in the `setUp()` method. They are ignored by paratest and work with PHPUnit.

We are also willing to sponsor fixing this.

[2019-04-30 10:26] dmitry-ivanov opened #384 "Occasional "This worker has crashed." errors"
Hey, guys! 🙂

I run my tests on the [Codeship CI](http://codeship.com) using ParaTest like this:

Everything works fine 49/50 of the times.

But, _from time to time_, occasionally I have this error (for different, random tests):

[code]

If I just restart the build (after the error) - it works fine, so these are just some kind of random failures.

So, my questions are:

1) Does this relate to the

[2019-04-30 14:33] CocoJr opened #385 "coverage-text in file ?"
Hi!

It's not possible to put the coverage in text format inside a file?

Currently, i have the following error:
`The "--coverage-text" option does not accept a value.`

Thx.

[2019-05-01 11:29] rvanlaak commented on #286
@datashaman thanks for the snippet 👍

Though, `env` is not a PHP method, and probably is defined via Symfony's Dotenv component. That makes this incompatible with non-symfony users.

[2019-05-06 03:52] datashaman commented on #286
@rvanlaak change it to use `getenv` instead.

[2019-05-20 06:42] rask commented on #282
Same issue here, not seeing _what_ failed and _why_ is a hindrance. Using WrapperRunner here, and I'm calling paratest on a Docker container application via SSH.

Example: made empty test method that does not run assertions. PHPUnit complains about a risky test, but Paratest says there was an error but does not tell me it was a risky test.

Will check if those listeners and loggers are an OK solut

[2019-05-20 07:55] rask commented on #384
Seeing same issue locally on 6 cores and 12GB of RAM in a virtual machine/Docker environment. Randomly a worker just fails for no obvious reason, but 90% of the time the thing works OK.

[2019-05-20 07:59] rask commented on #329
You mean paratest does not tell you what tests were risky? I'm having the same problem here. There is a `E` in the test run output, but paratest does not tell me where that happened, so I need to run basic PHPUnit to get the information.

[2019-05-20 19:22] Goahnary commented on #298
Is it possible to use this now? I tried to reference `dev-master#ef38add65995abb5b0799617efdba558c437f1d2` with composer but i get
[code]

I reference the package in my `composer.json` like so:
[code]

[2019-05-21 21:03] Goahnary commented on #273
This issue still exists for me using Paratest version 2. I am also running PHP 7 and phpunit 7. It only seems to leave the report from the last performed test.

[2019-05-21 21:32] Goahnary commented on #273
Could we set a flag to enable no truncating of the log file? Or maybe create a new log file with a datestring as the name?

[2019-05-27 08:58] rask commented on #262
Seeing the same issue here. I even passthru `--stop-on-error --stop-on-defect --stop-on-failure` to PHPUnit but that makes no difference.

[2019-05-27 10:03] rask commented on #385
I'd also like to see summary as an option for the text format. I think the PHPUnit XML config is not respected and non-summary is printed anyways.

[2019-05-30 18:45] TysonAndre opened #389 "Support installing/using paratest 3.x with php 7.1?"
PHP 7.1 will continue to receive security support until December 2019,
and some users of paratest would have apps supporting that
(including myself)

- Paratest seems to work with *both* phpunit 7 and phpunit 8
  (e.g. the xml files and the format this is parsing are unchanged)

   The only issue I've seen with php 7.1 is the inability to run paratest's unit tests.

  I'm assuming there aren't any

[2019-05-30 18:55] TysonAndre commented on #389
Oh. I missed the note in https://github.com/paratestphp/paratest#versions but still have this question https://github.com/paratestphp/paratest/releases/tag/3.0.0

https://github.com/paratestphp/paratest/pull/366#issuecomment-460633186

While dropping php 7.1 from travis is necessary, dropping support for using phpunit7/php 7.1 didn't seem as necessary

[2019-06-03 18:16] Goahnary commented on #273
Just as an update: I created a fix for phpunit to fix this issue. But I got some feedback from Sebastian Bergmann and he believes this should be solved at the paratest level by reading the standard out from the `--coverage-xml` flag. Then we should aggregate that until the end to print a logfile. I haven't had time to do this but eventually I will get around to it.

[2019-06-11 10:07] joesaunderson commented on #332
@andreasschroth, I am still getting this message in version 1.*

What is the solution?

[2019-06-11 11:05] andreasschroth commented on #332
@joesaunderson We don't actively support version 1.x anymore, sorry.

But it should work by backporting the changes here: https://github.com/paratestphp/paratest/pull/327/files

[2019-06-11 11:33] joesaunderson commented on #332
@andreasschroth thanks for the reply.

I'm in an interesting position as phpunit-selenium 4.1.0 <= phpunit 6.5.15 <= paratest 1.*

Do you know of any better phpunit-selenium repositories that would allow me to update phpunit to a higher version?

[2019-06-11 15:48] andreasschroth commented on #332
@joesaunderson I'm afraid not, sorry. We wrote our own adapter to Selenium back then when we used it together with PhpUnit.

[2019-06-11 17:45] greggilbert opened #392 "Support testdox to stdout"
PHPUnit 7.1+ supports `--testdox`, but it's not possible to get the output to show through Paratest. `--passthru="'--testdox'"` does correctly pass it through to PHPUnit, but it doesn't print out.

I was able to temporarily fix this by forcing the process to give incremental output (e.g. [here](https://github.com/SplashThat/paratest/commit/c5e134f2a2f4745cc61bec6b746824de2587893a)), but it'd be ni

[2019-06-20 03:41] slt commented on #369
#393 I've got a open pull request which will count the tests correctly.

The two things I've noticed/fixed are:
* Group filtering doesn't work properly if groups are on the classes instead of the methods
* Data providers were only used in functional mode, meaning they weren't counted correctly outside of functional mode

[2019-06-20 13:49] validaide-mark-bijl commented on #329
Hi,

Could this be a possible duplicate?
https://github.com/paratestphp/paratest/issues/282

Cheers,
Mark

[2019-06-20 16:29] marcingy opened #395 "Warnings are not reported by para test"
I have warnings set up to be treated in failure, however when running latest version of para test I see output such as

`
.............................................................   61 / 2678 (  2%)

.............................................................  122 / 2678 (  4%)

.............................................................  183 / 2678 (  6%)

................................

[2019-06-21 19:53] AchoArnold opened #396 "Feature request: Support phpunit's --testdox option"
Feature request: Support phpunit's --testdox option

It will be nice to see the info about the current test(s) which are bieng run.

[2019-06-22 11:59] andreasschroth commented on #329
@validaide-mark-bijl Thanks, I agree, they seem to be basically the same. I added the risky test part to the title of the other issue and closing this one now.

[2019-06-22 11:59] #329 closed

[2019-06-24 11:20] slt commented on #395
I also noticed this recently, I think PHPUnit 8 throws a lot of new warnings for depreciated methods.  I had to run without paratest to figure out what was wrong.

[2019-06-26 12:35] lartie opened #397 "Log file /tmp/PT_fBkCmo is empty. This means a PHPUnit process has crashed."
Hello, I have a problem.

[code]

[code]

[code]

[code]

[2019-06-27 16:50] kiler129 commented on #395
Reporting after spending 2 hours debugging invalid class in `@use`.

[2019-07-11 20:30] #389 closed

[2019-08-13 17:35] ftzdomino commented on #395
It also seems to be failing to display incomplete tests in the progress output.

[2019-08-21 21:00] denizsokullu commented on #397
I have a similar issue when running -f to log --coverage-php and I am doing it on 36 processes. Is it a problem to have 36 processes? Does the File IO become a bottleneck for the tests?

[2019-08-30 10:38] khrizt opened #399 "Paratest with database transactions"
Hi,

I just discovered this great package and I'm trying to use it in my job. The things is that tests fail because data in the database is not present. I'm not completely sure, but it looks like as each test has a database transaction (with PostgreSQL) that rolls back when everything is ok, using parallel executions rollbacks data for other test cases.

Has anyone managed to get paratest work wit

[2019-08-30 20:22] andreasschroth commented on #399
Are you sure your tests don't have dependencies among each other? Even hidden ones, e.g. test 2 assumes that test 1 has been executed before with doing something inside the database?

Did you try to run your tests in a random order with phpunit (without paratest being involved)? I would assume that fails also, because probably there are hidden dependencies. But that's just my guess.

[2019-09-11 06:29] sjdaws opened #400 "Code coverage merge doesn't seem to take @covers into account"
We're experiencing an issue where it looks like code coverage is merged blindly without checking whether it's relevant or not.

In all our tests we have a TestFile -> SrcFile mapping and each test file has a `@covers` annotation to ensure that the test file doesn't inadvertently cover other files. However in some cases the executable lines returned by phpunit are different and it seems they're mer

[2019-09-23 14:43] jesusslim opened #401 "coverage php out of memory"
paratest version:0.14.0

vendor/bin/paratest --phpunit vendor/phpunit/phpunit/phpunit --coverage-php coverage_result.php

memory_limit 128M

it will cause PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 4096 bytes) in /tmp/CV_8AgC5d in CoverageMerger , but if i remove --coverage-php,it works well,how can i solve this problem?

thx

[2019-09-23 16:42] andreasschroth commented on #401
You can pass a specific `memory_limit` to the underlying PHP process, e.g. like this:

[code]

[2019-09-24 06:47] jesusslim commented on #401
Thx,but my paratest version is 0.14.0,not support passthru-php.and i cant update to new version because composer dependency conflict. Now the unittest with coverage-php is very very slow and always out of memory.is there any other way to solve it?

[2019-09-24 06:56] andreasschroth commented on #401
Well, obviously you could apply the patch with this feature manually (see the matching PR), which I wouldn't recommend. Unfortunately, because this is a spare time project (and time is limited), I can't provide support for older versions.

I'm going to close this issue now, I definitely would recommend trying to update to the latest version.

[2019-09-24 06:56] #401 closed

[2019-09-24 07:36] crzdeveloper commented on #399
Try running tests in functional mode, it might give you some hints about the tests which depend on the results of other tests.

Also what is not clear from your question, how many DB backends do you use while testing? For instance, we run paratest in 8 threads and thus we have 8 DB backends. It means, every test file is executed against one of the DB backends. If you use one DB and more than one t

[2019-09-24 07:39] crzdeveloper commented on #397
IMHO, the CLI is strange: `Command: /usr/local/bin/php Array Array`. It seems, an array is passed as the argument of the PHP. Could you please provide the contents of `/var/www/app/phpunit.xml`? Please also try updating the paratest

[2019-09-24 09:55] crzdeveloper commented on #282
The PR #402 might fixed the problem with warnings. I'm not sure about the risky tests, IMHO, they must be implemented in the same way as I did with warnings

[2019-09-24 13:12] lartie commented on #397
@crzdeveloper

I've tried this configuration (from readme)

[code]

I can't update the paratest because I have to use the PHP 7.1.* version.

[2019-09-30 09:07] khrizt commented on #399
Really sorry for the delay in response, I got caught in work and forgot about this.

I made some changes because yes, the tests had hidden dependencies (not from test to test but using the same framework instance) and I soved that.

And yes, I'm using 1 only DB backend, that may be the problem because I still got errors. But I can't totally understand why there are this problems, if every test has

[2019-09-30 09:12] andreasschroth commented on #399
@khrizt No worries! I'd say it's definitely best practice to use one separate database per process. Otherwise you will definitely encounter at least unexpected behaviour, e.g. failing transactions because no lock is possible and thus rollbacks, dead locks, etc. If you want stable, reliable tests one separate database per process is the only way to go. And I think that's the only way tests are usef

[2019-09-30 09:16] khrizt commented on #399
Ok, I'll do some more testing with 1 DB backend (sorry I'm kind of stubborn and want to know exactly why tests are failing), but start working on generating N backends.

And I'll close this issue because this seems to be another problem, not one with paratest and transactions.

Thanks a lot for your help.

[2019-09-30 09:16] #399 closed

[2019-10-09 13:38] andreasschroth commented on #395
Should be fixed by https://github.com/crzdeveloper/paratest/commit/5ee9e284fbc67f1775f1efde165c1ee918b4b5bb . Please feel free to create a new issue if it happens again.

[2019-10-09 13:38] #395 closed

[2019-10-09 14:23] #382 closed

[2019-10-09 15:29] andreasschroth commented on #265
Closing this now as this should be possible by using the (pretty) new `--passthru` command.

[2019-10-09 15:29] #265 closed

[2019-10-09 15:31] andreasschroth commented on #258
Closing this now as the PR got already merged.

[2019-10-09 15:31] #258 closed

[2019-10-15 12:23] Daanvm commented on #279
This is a bit of a late response, but we're still having this issue. We're using paratest version 2.2.0, because we're still using PHPUnit 7. I just confirmed that upgrading to paratest version 3.1.0 fixes this issue.

Note that this is not really limited to dataproviders. I was able to reproduce the same error by expecting a non-existing method to be called, like this:

[code]

With paratest 2.2.

[2019-10-15 12:45] andreasschroth commented on #279
@Daanvm Thank you for your feedback. Unfortunately, we're not going to backport fixes due to limited time as it's "just" an OSS project. I'm sorry to not have better news regarding a backport. You might apply a patch manually to version 2.2.0 though.

Thus, I'll close this issue now.

[2019-10-15 12:45] #279 closed

[2019-10-15 14:07] Crease29 opened #407 "Prevent bootstrapping for every test case"
Hello,

I'm trying to implement paratest in one of my projects. I'm running it with `./vendor/bin/paratest --configuration ./hudson_phpunit.xml --runner SqliteRunner --processes 2`.

The `hudson_phpunit.xml` looks like this:
[code]

In our bootstrapping, we're building up the whole database and insert test data.
The problem I'm currently having is, that the `--configuration` parameter is passed to

[2019-10-15 16:38] andreasschroth commented on #407
I'm not sure if I understand your issue correctly, but it's definitely best practice that every process runs its own database and do not share the same database.

Otherwise you definitely will have side effects and conflicts while running them in parallel.

[2019-10-22 12:27] VincentClair commented on #369
Seems the #402 does not fix this issue. Here a test suit run with 3.1 :

[code]

[2019-10-30 10:42] Fedcomp commented on #352
wow, almost a year since it's opened. Facing same issue.

[2019-10-30 10:58] cuchac commented on #352
Unfortunately this is showstopper and I can't use paratest :-( Did not find any workaround or what  triggers this error.

[2019-10-30 11:05] Fedcomp commented on #352
And i got legacy project with it and can't see the errors.
`3.1.0` version appear to have same issue.

[2019-11-07 14:21] jmalinens commented on #354
@paslandau  little bit late but thank You

[2019-11-08 09:13] sksethi25 opened #408 "Pretty testcase output"
I was using [sempro/phpunit-pretty-print](https://github.com/sempro/phpunit-pretty-print) to beautify and readable output for the test case while they are running in Plain Phpunit.Phpunit required it to set printerClass in phpunit.xml. But with paratest, paratest is not utilizing the configrued printerclass from phpunit.xml.
 After going through paratest code, i found the paratest is using its cus

[2019-11-08 15:47] oprypkhantc commented on #282
The workaround from above did not properly work for risky tests. We were getting weird framework-related object instantiation errors without any valid stacktrace.

I researched it a little bit and the problem seems to be in phpunit itself (partly), as it's JUnit logs are different for risky tests.

https://github.com/sebastianbergmann/phpunit/issues/3937

[2019-11-10 07:43] kubawerlos opened #409 "Support PHP 5.6"
Hello,

can this library support PHP 5.6 in latest version? I'm trying to set it up [here](https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/4635) with `0.15.`, but no luck yet.

This is the scenario that I believe can be quite common - having tests against multiple PHP versions and PHP 5 being much slower than PHP 7 ones.

[2019-11-11 15:01] Fedcomp commented on #352
[code]

This test case 100% reproduces the issue on my machine. If test is timed out it returns array of errors from phpunit.

Running in phpunit:
[code]

Running in paratest:
[code]

[2019-11-12 09:33] Fedcomp commented on #352
I made a PR to fix it.

[2019-11-12 09:49] #352 closed

[2019-11-12 10:05] Fedcomp commented on #352
@cuchac my fix was just merged and new version released. Could you confirm latest release solves this for you?

[2019-11-12 22:21] crabbly commented on #409
Probably not. The composer dependency is PHP 7.1.

I strongly recommend moving to a newer version. PHP 5.6 is no longer supported. You could end-up having bigger problems other than the speed of your automated tests.
https://www.php.net/supported-versions.php
Good luck.

[2019-11-12 23:21] andreasschroth commented on #409
Well from what I understood at @kubawerlos tried to add Paratest to a library that still has compatibility for PHP 5.6.

Although I can understand the request of course and I agree it might be a good thing, I (and probably all other contributors) don't have resources to backporting fixes to older versions, sorry.

Thus, I'll close the issue.

[2019-11-12 23:21] #409 closed

[2019-11-13 19:39] kubawerlos commented on #409
@crabbly ![co]

@andreasschroth sounds fair.

[co]: https://i.kym-cdn.com/photos/images/original/000/190/890/082.jpg

[2019-11-13 20:00] crabbly opened #412 "Combine test cases under the same thread"
First, this is not an issue with the package, is a support question.
# Scenario

* We are currently using Laravel's [Dusk][1] to run our browser / UI tests.
* We configured [Paratest][2] to run 4 threads in order to speed our tests up.
* Browser tests are running against one database.
* One of the tests, Test A, is testing a feature functionality, let's call it Feature A.
* Another test is testing

[2019-11-13 20:17] andreasschroth commented on #412
Do not share the same resources (e.g. database) among different tests. It just won't work like this.

[2019-11-18 14:45] moehrenzahn commented on #348
I can confirm this issue exists in ParaTest 2.2.0.

[2019-11-25 06:07] hgpull opened #414 "PCOV doesn't work with paratest?"
I can’t understand if my configuration error or if pcov cannot be started with paratest.
I execute the command:

` /usr/bin/php -d memory_limit=2G -d pcov.enabled=1 -d pcov.directory=/srv/http/api.zp.ru/scripts/Job /srv/http/api.zp.ru/vendor/bin/phpunit -c /srv/http/api.zp.ru/tests/functional/phpunit.xml --coverage-text /srv/http/api.zp.ru/tests/functional/scripts/Job/Users`

and get result

so, w

[2019-11-27 10:11] maxnk commented on #414
PCOV definitely works with paratest.
Check that you don't have coverage settings in phpunit.xml - I've got almost empty reports in that case. By "almost" I mean that the report contained coverage from the run of the last test only.

[2019-11-28 15:58] pyrou commented on #356
@edbizarro Same issue today. Do you remember how to fix it ?

[2019-11-28 16:05] andreasschroth commented on #356
@pyrou Do you use the latest Paratest release?

[2019-11-30 07:15] pyrou commented on #356
I use following :
paratest 3.1.1
phpunit 8.4.3
php 7.3.9

same as OP : without `--runner SqliteRunner` everything works fine.

[2019-11-30 21:08] pyrou commented on #356
Here is my test case :

[code]

Create a `test.php` file :
[code]

Run unit test with coverage :
[code]

[code]

Of course, for this example, I don't *need* SqliteRunner, it is just to reproduce the error.

[2019-12-06 00:58] oojacoboo opened #416 "Autoloading woes"
Honestly, I'm not even entirely sure where to start with this ticket.  We have a somewhat unusual testing setup I guess.  It works find with phpunit, but for some reason paratest doesn't seem to be handling the autoloading properly, as I continue to end up with a class not found error.

Any thoughts on where to start with debugging this?  The current command I'm executing looks like this:

[code]

[2019-12-06 19:16] oojacoboo commented on #416
Here is the exact error I receive:

[code]

[2019-12-16 07:29] limenet opened #417 "Deprecation of Symfony\Component\Process\Process::inheritEnvironmentVariables()"
`symfony/process` deprecated its `Process::inheritEnvironmentVariables()` method in [4.4](https://github.com/symfony/process/blob/master/CHANGELOG.md#440) and removed it in [5.0](https://github.com/symfony/process/blob/master/CHANGELOG.md#500). The method in question is called in [`src/Runners/PHPUnit/ExecutableTest.php` on line 197](https://github.com/paratestphp/paratest/blob/master/src/Runners/

[2019-12-20 15:07] JulianaApolo opened #418 "Timeout"
I'm having timeout message below. Is there any setting?

[Symfony\Component\Process\Exception\ProcessTimedOutException]
  The process "vendor/bin/paratest --coverage-text tests" exceeded the timeout of 300 seconds.

[2019-12-25 10:20] #414 closed

[2019-12-25 10:20] hgpull commented on #414
oops
the wrong php ini settings were

[2019-12-27 14:34] KartaviK commented on #356
Have the same problem, any ideas for solution?

[2020-01-16 10:10] sakarikl opened #419 "packagist does not have symfony 5 enabled yet."
Could you create new tag/version.

[2020-01-16 10:10] #419 closed

[2020-01-16 10:11] andreasschroth commented on #419
Please use `dev-master` for now until we tag a new version.

[2020-01-16 13:18] andreasschroth commented on #419
New version tagged.

[2020-01-16 23:37] TysonAndre opened #420 "Support <const name="NAME" value=".." /> in phpunit.xml?"
https://phpunit.de/manual/6.5/en/appendixes.configuration.html

Related to #72

It's possible to work around this by moving constants from phpunit.xml to a bootstrap file. Before working around it, t causes errors such as `ERROR: Error: Undefined constant ` from SuiteLoader->getMethodTests

A simple approach might be SimpleXMLElement and xpath usage, throwing or warning if any values are of unexpe

[2020-01-24 06:37] pakhomchik commented on #265
Adding `--passthru="'--teamcity'"` doesn't work as expected.

For example, `phpunit --teamcity` produces the following:
[code]
But `paratest -p 3 /tests --passthru="'--teamcity'"` ignores `'--teamcity'` parameter:
[code]
`paratest -p 3 /tests --passthru="--teamcity"` returns the same result.

[2020-01-28 14:23] alamirault commented on #407
I've same problem. Isn't possible to execute bootstrap once for all process. There is a workaround ?

[2020-02-05 07:01] Tabll opened #421 "Unable to display code coverage"
the version is `brianium/paratest: ^3.1`, `PHPUnit 8`
When I add --coverage-text, I get an out-of-memory error when displaying the report:
[code]
I tried `--passthru-php="'-d' 'memory_limit=1024M'"` but it had the same problem
I don't know what happened, can anyone help me? Thank you very much

[2020-02-05 10:15] andreasschroth commented on #421
From the error message... 134217728 bytes = 128 MB.

Please try to pass it this way: `--passthru-php="-d memory_limit=1024M"`

[2020-02-05 11:36] Tabll commented on #421
Thanks for your help, it's resolved now

[2020-02-05 11:36] #421 closed

[2020-02-07 22:24] andreasschroth commented on #312
Closing this due to no feedback.

[2020-02-07 22:24] #312 closed

[2020-02-07 22:28] andreasschroth commented on #418
Apologies for the late reply.

The timeout might come from composer (because you are calling vendor/bin/paratest). Please try setting an environment variable like this:

`export COMPOSER_PROCESS_TIMEOUT=1800`

I'm closing this issue now as I don't think this limit comes from Paratest itself.

[2020-02-07 22:28] #418 closed

[2020-02-07 22:28] andreasschroth commented on #417
I believe this should be fixed by the merge of https://github.com/paratestphp/paratest/pull/410

Thus I'm closing this issue.

[2020-02-07 22:28] #417 closed

[2020-02-07 22:36] andreasschroth commented on #407
Well, the variable `TEST_TOKEN` that is being passed to every single worker increments for every worker. See posted output above. So the first worker has `TEST_TOKEN=1`, then `TEST_TOKEN=2`, etc.

You could do some weird things based on this information (e.g. only execute bootstrap when `TEST_TOKEN=1` and let all other workers sleep for 10 seconds, etc.), but I definitely do **NOT** recommend that

[2020-02-07 22:36] #407 closed

[2020-02-07 22:39] andreasschroth commented on #396
From the number of thumbs I can see that this feature is requested a lot from our community.

Thus, I gave it the priority label and will try to implement it. I cannot give an exact timeline though, sorry. PRs are also welcome.

[2020-02-07 22:44] andreasschroth commented on #392
Duplicate of #396 (I know this issue was created before, but the other one has more feedback now)

Thus, I close this issue.

[2020-02-07 22:44] #392 closed

[2020-02-08 12:22] andreasschroth opened #423 "Add PHPStan to CI pipeline"